
label {
	display: block;
	margin: 0 0 5px 0;
}


textarea {
	width: 200px;
}

#container {
	margin: 0 auto;
	width: 700px;
}
#container .header{
	padding-top:20px;
	/*margin-bottom:10px;*/

}
.ac_menu_public{
	float:right;
	padding-top:10px;
}
.ac_menu_public a{
	font-size:15px;
	margin-left:20px;
}

#list_head a
{
	padding-right: 20px;
}

.ac_table_box_header{ background:#C2D6EB; padding:5px; font-weight:bold; color: #8D9DAE;}
.ac_table_box_content{ border:1px solid #C2D6EB; padding:5px; }

.ac_table_header_options td{ background-color:#F8F8F8; padding:5px; color: #666666; border:1px solid #DEE7EF; border-bottom:0px; }
	.ac_table_header_options td a, .ac_table_header td a:visited{ color: #666666; display:block; }
	.ac_table_header_options select{ font-size:10px; border:1px solid #DEE7EF }
	.ac_table_header_options input{ font-size:10px; border:1px solid #DEE7EF; background:#ffffff;}

.ac_table_header td{ background:url(../ac_global/media/ac_table_header.gif); background-position:top; background-repeat:repeat-x; background-color:#DEE7EF; padding:5px; color: #666666; border-top:1px solid #DEE7EF; border-bottom:1px solid #D0DBE5; border-left:1px solid #DEE7EF; }
	.ac_table_header td a, .ac_table_header td a:visited{ color: #666666; display:block; }
.ac_table_row td{ padding:5px; border-bottom: 1px solid #DEE7EF; padding-top:3px; padding-bottom:3px; }
	.ac_table_row td a, .ac_table_header td a:visited{ color: #666666; }

#abusesbox { border-top: 1px solid #ddd; }
.abuse_row { border-bottom: 1px solid #ddd; margin: 4px 0; padding: 4px 0; }

.archive_title{
	border-bottom:1px solid #666666;
	background:#F9F9F9;
	padding:5px;
	padding-left:10px;
	font-weight:bold;
	margin-bottom:15px;
}

.header{
	background:#0E3E75;
	margin-top:0px;
	color:#FFFFFF;
	padding:25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-box-shadow: 3px 3px 4px #E0DFDC;
	-webkit-box-shadow: 3px 3px 4px #E0DFDC;
	box-shadow: 3px 3px 4px #E0DFDC;
	padding-bottom:20px;
	margin-top:15px;
	padding-bottom:0px;

}
.header_nav{
	background:#0E3E75;
	padding-left:25px;
	font-size:17px;
	color:#0E3E75;
	padding-top:20px;
}
.header_nav div{
	float:left;
	background:#305988;
	padding:8px;
	padding-left:13px;
	padding-right:13px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	margin-right:10px;

}
.header_nav div a, .header_nav div a:visited{
	text-decoration:none;
	color:#fff;
}
.header_nav div a:hover{
	color:#EBFF9D;
}
.header_nav .selected a, .header_nav .selected a:visited{
	color:#0E3E75;
}
.logo{
	font-size:20px;
	font-family:Helvetica;
	letter-spacing:-1;
	font-weight:normal;
	text-shadow: #000 1px 1px 1px;
	text-align:left;
}

.logo a, .logo a:visited{
	color:#fff;
	text-decoration:none;
}

.confirmation_box{
	font-size:14px;
	border-top:3px solid #F0F1B6;
	border-bottom:3px solid #F0F1B6;
	padding:30px;
	margin-top:50px;
	text-align:left;
	background:#FDFDF4;
	width:400px;
}

h1{
	font-size:21px;
	font-family:Helvetica;
	font-weight:normal;
	margin:0px;
	margin-bottom:10px;
}
h2{
	font-size:17px;
	font-family:Helvetica;
	font-weight:normal;
	margin:0px;
	margin-bottom:10px;
}
.content{
	padding:20px;
	padding-left:25px;
	padding-right:25px;
	font-size:12px;
}
.content td, .content input{
	font-size:12px;
}
.side_nav{
	border-left:1px solid #E0DFDC;
	background:url(../admin/images/side_bg.gif);
	background-repeat:repeat-y;
	background-position:left;
	border-bottom:1px solid #EBEBEB;
	padding:10px;
}

.ac_modal {
	position:fixed;
	top:0px;
	right:0px;

	width:100%;
	height:100%;
	z-index:5000;
	background:url(../ac_global/media/modal_bg.png);
}
.ac_modal .ac_modal_inner{
	border-top:5px solid #636B73;
}

.ac_modal_delete {
	position:fixed;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index:5000;
	background:url(../ac_global/media/modal_bg.png);
}
.ac_modal_delete .ac_modal_inner{
	border-top:5px solid #920000;
}
.ac_modal_search {
	position:fixed;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index:5000;
	background:url(../ac_global/media/modal_bg.png);
}
.ac_modal_search .ac_modal_inner{
	border-top:5px solid #6E9200;
}
.ac_modal_inner{
	position: absolute;
	top:30%;
	left:50%;
	z-index:9999;
	width:375px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	margin:-75px 0 0 -250px;

	background:#FDFCE9;
	text-align:left;
	padding:25px;
}
.ac_modal_inner .ac_button_ok{
	font-weight:bold;
}
.ac_modal_inner_global_users{
	position: absolute;
	top:30%;
	left:50%;
	z-index:9999;
	width:375px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	margin:-75px 0 0 -250px;
	background:#FDFCE9;
	text-align:left;
	padding:25px;
	border-top:5px solid #636B73;
}
.ac_modal_inner_groups{
	position: absolute;
	top:30%;
	left:50%;
	z-index:9999;
	width:375px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	margin:-75px 0 0 -250px;
	background:#FDFCE9;
	text-align:left;
	padding:25px;
	border-top:5px solid #6E9200;

}
.ac_modal_opaque {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: transparent;
	color:#000000;
	overflow:hidden;

	/*
	filter:alpha(opacity=80);
	opacity:.8;
	-moz-opacity:.8;
	*/
}
.ac_modal_inner_opaque{
	padding:10px;
	margin-top: 50px;
	width:400px;
	text-align:left;

	border:1px solid #000000;
	background-color:#FFFFFF;

	overflow: none;
	/*
	filter:alpha(opacity=100);
	opacity:1;
	-moz-opacity:1;
	*/
}

.width300{
	width:300px;
}
.width400{
	width:400px;
}
.width500{
	width:500px;
}
.ac_modal_text{

	background:url(../ac_global/images/loader.gif);
	background-repeat:no-repeat;
	padding-left:25px;
}
