<div style="padding-top: 10px; margin-top: 20px;">
  <div class="h2_wrap">
    <h2 onclick="ac_dom_toggle_class('cronfaqpanel', 'h2_content_invis', 'h2_content');">{"Frequently Asked Questions"|alang}</h2>
    <div id="cronfaqpanel" class="h2_content_invis">

      <div class="question">{"What is a cron job/scheduled task?"|alang}</div>
      <div class="answer">
        {"A cron job/scheduled task is an automated task that your server executes at a specified time or interval."|alang}
      </div>

      <div class="question">{"How do I setup cron jobs?"|alang}</div>
      <div class="answer">
        <p>
          {"You will have to setup a crontab (linux) or scheduled task (windows) that executes a script within the application that performs all automated tasks."|alang}
          {"This should be set to run every 5 minutes, and should run a file cron.php that resides in /admin folder."|alang}
        </p>
        <p>
          {"On UNIX-based servers, please contact your server admin to ask him for the procedure on your server."|alang}
          {"If you have a control panel interface such as Plesk and CPanel, you should be able to do it yourself."|alang}<br />
          {"On Windows-based servers you can use a tool Scheduled Tasks to add a task."|alang}<br />
        </p>
      </div>

{if !$isWindows}
      <div class="question">{"I have a UNIX-based server."|alang} {"How do I setup cron jobs?"|alang}</div>
      <div class="answer">
        <p>
          {"Typically you will be able to setup your cron with the following format:"|alang}
        </p>
        <div class="code">
          */5 * * * * php {$cronBasePath}/admin/cron.php
        </div>

        <p>
          {"If your PHP executable is installed in a custom folder, you may need to specify the PHP folder (such as /usr/local/bin/php) with your custom PHP path in a following command:"|alang}
        </p>
        <div class="code">
          */5 * * * * <u>/usr/local/bin/php</u> {$cronBasePath}/admin/cron.php
        </div>

        <p>
          {"If you are having trouble setting up the cron (or do not know the location of PHP on the server) you can use the following format:"|alang}
        </p>
        <div class="code">
          */5 * * * * wget {$plink}/admin/cron.php > /dev/null
        </div>
      </div>

{else}
      <div class="question">{"I have a Windows-based server."|alang} {"How do I setup cron jobs?"|alang}</div>
      <div class="answer">
        <p>
          {"Since Window-based servers do not have cron jobs, you can achieve the same effect by using Scheduled Tasks application (under All Programs->Accessories->System Tools->Scheduled Tasks)."|alang}
          {"Simply place a following command that should call that script from a web server into a field named 'Run':"|alang}
        </p>

        <p>
          {"If your PHP executable is installed in the default folder (C:\PHP) which is specified in the first line of cron.php, you will be able to setup a following command:"|alang}
        </p>
        <div class="code">
          C:\PHP\php.exe {$cronBasePath}\admin\cron.php
        </div>

        <p>
          {"If your PHP executable is installed in a custom folder, then replace the default folder (C:\PHP) with your custom PHP path in a following command:"|alang}
        </p>
        <div class="code">
          <u>C:\PHP\php.exe</u> {$cronBasePath}\admin\cron.php
        </div>
      </div>
{/if}

    </div>
  </div>
</div>
