<div id="list" class="ac_hidden">
  <form action="main.php?action=cron" method="GET" onsubmit="cron_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="ac_table_header_options">
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="cron_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="cron_list_clear()" />
            &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="ac_table_header">
          <td align="center" width="20">
            <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
          </td>
          <td width="130">{"Options"|alang}</td>
          <td>{ac_headercol action="cron" id="01" label="Name"|alang}</td>
          <td>{ac_headercol action="cron" id="02" label="Description"|alang}</td>
          <td width="100">{ac_headercol action="cron" id="03" label="Last Run"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
    </table>
    <div id="list_noresults" class="ac_hidden">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="cron_list_tabelize" paginate="cron_list_paginate"}
    </div>
    <div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="ac_hidden">
      <span class="ac_hidden">{"All Cron Jobs are now selected."|alang}</span>
      <span class="ac_hidden">{"All Cron Jobs on this page are now selected."|alang}</span>
      <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>

  <br />
  {if 0 and ac_admin_ismain()}
  <input type="button" value="{"Add"|alang}" onclick="ac_ui_anchor_set('form-0')" />
  {/if}
  {if 0 and ac_admin_ismain()}
  <input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
  {/if}
</div>
