<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="cron_form_save(cron_form_id); return false">
    <input type="hidden" name="id" id="form_id" />

    <div class="h2_wrap_static">
      <h2>{"Cron Job Information"|alang}</h2>
      <div class="h2_content">

        <table border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td><label for="stringidField">{"Identifier"|alang}</label></td>
            <td>
              <span id="stringidLabel"></span>
              <input type="text" name="stringid" id="stringidField" value="" size="45" />
              {"This is the internal name for you to use. Every cron job needs to have a unique identifier."|help}
            </td>
          </tr>
          <tr>
            <td><label for="nameField">{"Name"|alang}</label></td>
            <td>
              <span id="nameLabel"></span>
              <input type="text" name="name" id="nameField" value="" size="45" />
            </td>
          </tr>
          <tr valign="top">
            <td><label for="descriptField">{"Description"|alang}</label></td>
            <td>
              <span id="descriptLabel"></span>
              <textarea name="descript" id="descriptField" style="width:415px; height:65px;"></textarea>
            </td>
          </tr>
          <tbody id="commandRow" class="ac_hidden" style="display:none;">
          <tr valign="top">
              <td>{"Cron Line"|alang}</td>
              <td>
                <span id="commandLabel"></span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <br />

    <div class="h2_wrap_static">
      <h2>{"Cron Job Settings"|alang}</h2>
      <div class="h2_content">

        <table border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td width="100"><label for="activeField">{"Active"|alang}</label></td>
            <td>
              <input type="checkbox" name="active" id="activeField" value="1" />
              {"This will turn this Cron Job on or off"|help}
            </td>
          </tr>
          <tr>
            <td><label for="loglevelField">{"Keep Logs"|alang}</label></td>
            <td>
              <input type="checkbox" name="loglevel" id="loglevelField" value="1" />
              {"Logs will be kept for 30 days."|help}
            </td>
          </tr>
          <tr>
            <td><label for="filenameField">{"File Name / URL"|alang}</label></td>
            <td>
              <input type="text" name="filename" id="filenameField" value="" size="45" />
              {"If the URL is used, it has to start with http:// or https:// . Otherwise, a file path will be assumed. If a path starts with './', the application folder will be assumed."|help}
            </td>
          </tr>

          <tr>
            <td valign="middle">
              {"Day of the Week"|alang}
            </td>
            <td>
              <select name="weekday" id="weekdayField" size="1" onchange="$('dayofmonthRow').className = ( this.value == '-1' ? 'ac_table_rowgroup' : 'ac_hidden' );">
                {html_options options=$weekdays}
              </select>
              {"Note: this overrides the 'day of the month' option"|help}
            </td>
          </tr>
          <tbody id="dayofmonthRow">
            <tr>
              <td valign="middle">
                {"Day of the Month"|alang}
              </td>
              <td>
{*
                <select name="dayoperator" id="dayoperatorField" size="1" onchange="cron_form_days_switch(this.value, $('dayField').value);">
                  <option value="at">{"On Day"|alang}</option>
                  <option value="every">{"Every"|alang}</option>
                </select>
*}
                <select name="day" id="dayField" size="1">
                  {html_options options=$monthdays}
                </select>
{*
                <span id="otherDaysOperator" class="ac_hidden">{"in the month"|alang}</span>
*}
              </td>
            </tr>
          </tbody>
          <tr>
            <td valign="middle">
              {"Hour"|alang}
            </td>
            <td>
              <select name="houroperator" id="houroperatorField" size="1" onchange="cron_form_hours_switch(this.value, $('hourField').value);">
                <option value="at">{"On the Hour"|alang}</option>
                <option value="every">{"Every"|alang}</option>
              </select>
              <select name="hour" id="hourField" size="1">
                {html_options options=$hours}
              </select>
              <span id="otherHoursOperator" class="ac_hidden">{"hours"|alang}</span>
              {"Set * for 'every hour'."|help}
            </td>
          </tr>
          <tr>
            <td valign="middle">
              {"Minute"|alang}
            </td>
            <td>
              <select name="minuteoperator" id="minuteoperatorField" size="1" onchange="cron_form_minutes_switch(this.value, $('minute1Field').value);">
                <option value="at">{"At Minute"|alang}</option>
                <option value="every">{"Every"|alang}</option>
              </select>
              <select name="minute1" id="minute1Field" size="1" onchange="cron_form_minutes_switch($('minuteoperatorField').value, this.value);">
                {html_options options=$minutes1}
              </select>
              <span id="otherMinutes" class="ac_hidden">
                <select name="minute2" id="minute2Field" size="1">
                  {html_options options=$minutes2}
                </select>
                <select name="minute3" id="minute3Field" size="1">
                  {html_options options=$minutes2}
                </select>
                <select name="minute4" id="minute4Field" size="1">
                  {html_options options=$minutes2}
                </select>
                <select name="minute5" id="minute5Field" size="1">
                  {html_options options=$minutes2}
                </select>
                <select name="minute6" id="minute6Field" size="1">
                  {html_options options=$minutes2}
                </select>
              </span>
              <span id="otherMinutesOperator" class="ac_hidden">{"minutes"|alang}</span>
              {"Set * for 'every minute'."|help}
            </td>
          </tr>
        </table>

      </div>
    </div>

    <br />
    <div>
      <input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="cron_form_save(cron_form_id)" />
      <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>
