<div id="error_mailer" class="ac_modal" align="center" style="display:none;">
  <div class="ac_modal_inner" align="left">
    <h1 style="color: #800;">{"Sending Error"|alang}</h1>

    <div class="ac_help_inline" style="font-size:12px;" align="center">
      {"There was a critical error while trying to send an email."|alang}<br />
    </div>
    <br />

	<div style="position:absolute; background:#009900; height:30px; margin-left:-10px;">&nbsp;</div>
	 <strong>{"Recommended Action:"|alang}</strong><br />
      <a href="main.php?action=settings#mailsending">{"Update and verify your mail settings"|alang}</a><br />
	  <br />
    <div id="error_mailer_message_box" class="ac_hidden">
      <div style="font-weight:bold;">{"Error Message:"|alang}</div>
      <div id="error_mailer_message" style="color:#999999; padding:4px; background:#FFFFFF; border:1px solid #CCCCCC;"></div>
    </div>
    <br />

    <div>
	  <strong>{"Cause:"|alang}</strong><br />
      {"This type of error usually indicates that there was a problem during sending the email.  This could be due to incorrect mail settings and/or an error with your mail server."|alang}
    </div>
    <br />

    <div>
      <input type="button" value='{"Close"|alang}' onclick="ac_dom_toggle_display('error_mailer', 'block');" class="ac_button_ok" />
    </div>
  </div>
</div>
