{if $get.mode == "edit"}
  {assign var="h2" value="Edit Plugin"}
  {assign var="label" value="Update"}
  {assign var="mode2" value="update"}
{else}
  {assign var="h2" value="Create Plugin"}
  {assign var="label" value="Create"}
  {assign var="mode2" value="insert"}
{/if}

{include file="message.tpl.htm"}

<h1>Plugin Manager</h1>
<hr>
<h2>{$h2|html}</h2>

<form action="main.php" method="POST">
  <table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td>Name</td>
      <td><input type="text" name="name" value="{$group.name|default:''|html}"></td>
    </tr>
    <tr>
      <td>Version</td>
      <td><input type="text" name="version" value="{$group.version|default:'1.0'|html}"></td>
    </tr>
    <tr>
      <td>Added On</td>
      <td>{$group.ctime|default:''|html}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" name="description" value="{$group.description|default:''|html}"></td>
    </tr>
    <tr>
      <td>Status</td>
      <td>
        <input type="radio" name="status" value="enabled" {if $group.status|default:'enabled' == "enabled"}checked="checked"{/if}>
        Enabled
        <input type="radio" name="status" value="disabled" {if $group.status|default:'enabled' == "disabled"}checked="checked"{/if}>
        Disabled
      </tr>
    </tr>
    <tr>
      <td>Pre-Install PHP Code</td>
      <td><textarea rows="5" style="width:100%" name="install_pre">{$group.install_pre|default:''|html}</textarea></td>
    </tr>
    <tr>
      <td>Post-Install PHP Code</td>
      <td><textarea rows="5" style="width:100%" name="install_post">{$group.install_post|default:''|html}</textarea></td>
    </tr>
  </table>

  <p>
  <input type="submit" value="{$label|default:'Submit'|html}">
  <input type="hidden" name="action" value="{$get.action|default:'plugins'|html}">
  <input type="hidden" name="mode" value="{$get.mode|default:''|html}">
  <input type="hidden" name="mode2" value="{$mode2|default:''|html}">
  <input type="hidden" name="id" value="{$group.id|default:''|html}">
</form>

{if isset($group)}
<script type="text/javascript">
  var str = "Are you sure you want to delete this dependancy?  This action cannot be undone!";

  {literal}
  function delete_double_check() {
    return confirm(str);
  }
  {/literal}
</script>

<table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tr class="row_header">
    <td>{"Options"|alang}</td>
    <td>{"Dependancy"|alang}</td>
    <td>{"From Version"|alang}</td>
    <td>{"To Version"|alang}</td>
  </tr>
  {if isset($deps)}
  {foreach from=$deps item=d}
  <tr class="row_normal">
    <td>
      <a href="main.php?action=plugins&mode=editdep&id={$d.id}">Edit</a>
      <a href="main.php?action=plugins&mode=deldep&id={$d.id}" onclick="return delete_double_check();">Delete</a>
    </td>
    <td>{$d.deptype|html}</td>
    <td>{$d.from|html}</td>
    <td>{$d.to|html}</td>
  </tr>
  {/foreach}
  {/if}
</table>

<form action="main.php" method="POST">
  <input type="submit" value="Add Dependancy">
  <input type="hidden" name="action" value="plugins">
  <input type="hidden" name="mode" value="adddep">
  <input type="hidden" name="groupid" value="{$group.id}">
</form>
{/if}
