<div id="search" class="ac_modal_search" align="center" style="display:none">
  <div class="ac_modal_inner">
    <form method="GET" onsubmit="privatemessage_search(); return false">
      <table border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td>{"Search for"|alang}</td>
          <td><input type="text" name="content" id="search_content"/></td>
        </tr>
        <tr valign="top">
          <td>{"Search in"|alang}</td>
          <td>
            {foreach from=$search_sections item=s}
            <input type="checkbox" name="section[]" value="{$s.col}"> {$s.label}<br/>
            {/foreach}
          </td>
        </tr>
      </table>
    </form>
    <br/>
    <br/>
    <div>
      <input type="button" value='{"Search"|alang}' onclick="privatemessage_search()"/>
      <input type="button" value='{"Cancel"|alang}' onclick="ac_dom_toggle_display('search', 'block'); ac_ui_anchor_set(privatemessage_list_anchor())"/>
    </div>
  </div>
</div>
<script type="text/javascript">
  privatemessage_search_defaults();
</script>
