{ac_js base=".." acglobal="dom"}
<h1>{"Wizard Navigation"|alang}</h1>

  {foreach name="wizard" from=$wizard_array_projects item=w}
  {if $wizard_pos_projects eq $smarty.foreach.wizard.index}
  {assign var="selected" value=true}
  {else}
  {assign var="selected" value=false}
  {/if}

    {if $w.href eq ""}
    <span {if $selected}style="font-weight:bold"{/if}>{$w.text|truncate:18:"...":true|html}</span>
    {if isset($w.subopen) and $w.subopen and count($w.subitems) > 0}
    <span onclick="ac_dom_toggle_display('sub_{$w.text|js}', 'block')">+</span>
    <div id="sub_{$w.text|html}" style="display:{if $selected}block{else}none{/if}">
      {foreach from=$w.subitems item=i}
      <li><span {if $selected}style="font-weight:bold"{/if}>{$i.text|html}</span>
      {/foreach}
    </div>
    {/if}
    {else}
    <a href="{$w.href|html}" {if $selected}style="font-weight:bold"{/if}>{$w.text|truncate:18:"...":true|html}</a>
    {if isset($w.subopen) and $w.subopen and count($w.subitems) > 0}
    <div onclick="ac_dom_toggle_display('sub_{$w.text|js}', 'block')" style="cursor:pointer; position:absolute; margin-left:-9px; margin-top:-24px;">+</div>
    <div id="sub_{$w.text|html}" style="display:{if $selected}block{else}none{/if}; padding-left:15px;">
      {foreach from=$w.subitems item=i}
      <li><a href="{$i.href|html}">{$i.text|html}</a></li>
      {/foreach}
    </div>
    {/if}
    {/if}

  {/foreach}

