<div id="list">

	<div id="syncListPanel" class="ac_block">
	
		<form action="main.php?action=sync&mode=deletes" method="POST">
	
			<table width="100%" border="1" cellspacing="0" cellpadding="0" style="margin-top: 10px;">
			  <thead>
			  <tr class="ac_table_header">
			    <td align="center" width="20">
			      <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onchange="ac_form_check_all(this);" />
			    </td>
			    <td width="140">{"Options"|alang}</a></td>
			    <td><a href="#" id="sorter01" onclick="return sync_sort('01');" class="{if $syncsort == '01'}ac_sort_asc{elseif $syncsort == '01D'}ac_sort_desc{else}ac_sort_other{/if}">{"Name"|alang}</a></td>
			    <td><a href="#" id="sorter02" onclick="return sync_sort('02');" class="{if $syncsort == '02'}ac_sort_asc{elseif $syncsort == '02D'}ac_sort_desc{else}ac_sort_other{/if}">{"Database"|alang}</a></td>
			    <td width="100"><a href="#" id="sorter03" onclick="return sync_sort('03');" class="{if $syncsort == '03'}ac_sort_asc{elseif $syncsort == '03D'}ac_sort_desc{else}ac_sort_other{/if}">{"Last Ran"|alang}</a></td>
			  </tr>
			  </thead>
			  <tfoot>
			    <td colspan="5" align="left">
			      <div id="loadingBar" class="ac_block" style="background:url(../ac_global/media/loader.gif); background-repeat:no-repeat; padding:5px; padding-left:20px; padding-top:2px; color:#999999; font-size:10px; margin:5px;">
			        {"Loading. Please wait..."|alang}
			      </div>
			    </td>
			  </tfoot>
			  <tbody id="syncsTable">
			  </tbody>
			  <tr id="syncsNoResults" class="{*if $syncsCnt == 0}ac_table_row{else*}ac_hidden{*/if*}">
			    <td colspan="5" align="center">
			      <div>{"No syncs found."|alang}</div>
			      <div>
			        <a href="main.php?action=sync#add-0-1">{"Do you wish to add one?"|alang}</a>
			      </div>
			    </td>
			  </tr>
			</table>
			
			<div class="bottom_nav_options">
				{if !$demoMode}
				  <input type="button" value="{"Add Sync"|alang}" style="float: right;" onclick="ac_ui_anchor_set('add-0-1');" />
					<input type="button" value="{"Delete Selected"|alang}" onclick="sync_delete_multiple();" />
				{else}
					<span class="demoDisabled2">{"Disabled in demo"|alang}</span>
				{/if}
			</div>
	
		</form>
	
	</div>

</div>