{* load javascript *}
<script>
// define variables
{jsvar name=manageAction var=$mode}
{jsvar name=manageID var=$data.id}
{jsvar name=sortID var=$syncsort}
{jsvar name=blank var=$data}
{jsvar name=syncs var=$syncs}
{jsvar name=syncsCnt var=$syncsCnt}
{jsvar name=fields var=$fields}

{jsvar var=$__ishosted name=__ishosted}

var processID = 0;

var steps = [ 'DB', 'Tables', 'Fields', 'Rules' ];

var somethingChanged = false;
var syncarray = null;
var frmArr = null;

</script>
{* load javascript calendar *}
{ac_calendar base=$app_url}
{ac_js lib="really/simplehistory.js" base=$app_url}
{ac_js lib="templates/sync.js"}
{ac_js lib="templates/sync.list.js"}
{ac_js lib="templates/sync.form.js"}
{ac_js lib="templates/sync.run.js"}
{ac_js lib="templates/sync.delete.js"}


<h1>{"Database Sync"|alang}</h1>



{* include supporting templates *}

{if isset($sync_header_template)}
	{if $sync_header_template != ''}
		{include file=$sync_header_template}
	{/if}
{/if}

{include file="sync.list.htm"}
{include file="sync.form.htm"}
{*include file="sync.view.htm"*}
{*include file="sync.test.htm"*}
{include file="sync.run.htm"}
{include file="sync.delete.htm"}

<script>
// initialize RealSimpleHistory
ac_ui_rsh_init(sync_page_changed, true);
//runPage();
// set session ping
ac_ui_session_ping_admin();
</script>
