<div id="syncDeletePanel" class="ac_modal" align="center" style="display:none">
  <div class="ac_modal_inner">

<form action="main.php" method="get" name="deleteSyncForm" id="deleteSyncForm">
<input type="hidden" name="action" value="sync" />
<input type="hidden" id="syncDeleteIDfield" name="id" value="{$data.id}" />


<div class="h2_wrap_static">
  <h2>{"General"|alang}</h2>
  <div id="syncDeleteBox" class="h2_content">
    <p>{"Selected Sync Jobs:"|alang}</p>
	<ul></ul>
  </div>
</div>


<p>&nbsp;</p>

<div class="h2_wrap">
  <h2 onclick="ac_dom_toggle_class('syncConfirmBox', 'h2_content', 'h2_content_invis');">{"Are you sure?"|alang}</h2>
  <div id="categoryConfirmBox" class="h2_content">
    <p align="center">
{if !$demoMode}
      <input type="button" value="{"Yes - Delete"|alang}" onclick="sync_delete();" />
{else}
      <span class="demoDisabled2">{"Disabled in demo"|alang}</span>
{/if}
      <input type="button" value="{"NO - Back"|alang}" onclick="ac_dom_toggle_display('syncDeletePanel', 'block');return false;window.history.go(-1);" />
    </p>
  </div>
</div>

</form>


  </div>
</div>