<script type="text/javascript">

	{literal}

	task_list();

	function task_list() {
		ac_ajax_call_cb("api.php", "task.task_select_array_paginator", task_list_cb, 1, "02D", "0", 10, "0");
	}

	function task_list_cb(xml) {
		var ary = ac_dom_read_node(xml);
		ac_ui_api_callback();

		// From "12/17/2008 12:11:08"
		var datetime_today_array = ac_date_today().format(ac_js_site["datetimeformat"]).split(" ");

		for (var i = 0; i < ary.rows.length; i++) {

			// Quasi-filter.
			if (ary.rows[i].title != "" && ary.rows[i].ddate != "" && ary.rows[i].progress != 10) {

				var new_tr = Builder.node("tr", {}, Builder.node( "td", {}, Builder.node("a", {href: "main.php?action=task#form-" + ary.rows[i].id}, ary.rows[i].title)) );

				// From "12/17/2008 12:11:08"
				var ddate_array = sql2date(ary.rows[i].ddate).format(ac_js_site["datetimeformat"]).split(" ");

				date_class = "";

				// If Due Date is today.
				if (ddate_array[0] == datetime_today_array[0]) {
					date_class = "task_highlight1";
				}

				// Older than today.
				if (ddate_array[0] < datetime_today_array[0]) {
					date_class = "task_highlight2";
				}

				if (ary.rows[i].ddate != "") {
					var date_formatted = sql2date(ary.rows[i].ddate).format("%m/%d/%Y");
				}
				else {
					var date_formatted = "";
				}

				var date_td = Builder.node("td", {align: "right", className: date_class}, date_formatted);

				new_tr.appendChild(date_td);
				$("task_list").appendChild(new_tr);
			}
		}
	}

	{/literal}

</script>

<table id="task_list">
	<tr>
		<th colspan="2">{"Tasks"|alang}</th>
	</tr>

</table>