{if isset($site.brand_editorw)}
{assign var="editor_w" value=$site.brand_editorw}
{assign var="editor_h" value=$site.brand_editorh}
{/if}

{if isset($admin.editorsize_w)}
{assign var="editor_w" value=$admin.editorsize_w}
{assign var="editor_h" value=$admin.editorsize_h}
{/if}

{if isset($width)}
{assign var="editor_w" value=$width}
{/if}

{if isset($height)}
{assign var="editor_h" value=$height}
{/if}

{if !isset($js)}
{assign var="js" value=1}
{/if}

{if !isset($setDefaultAction)}
{assign var="setDefaultAction" value="users.user_update_value"}
{/if}

{if $js == 1}
<script type="text/javascript">
  var tmpEditorContent = '';
  var editorSetDefaultAction = '{$setDefaultAction}';

  {literal}
  function toggleEditor(id, action, flips) {
	if ( action == ac_editor_is(id + 'Editor') ) return false;
	ac_editor_toggle(id + 'Editor', flips);
	if ($(id + 'EditorLinkOn'))
		$(id + 'EditorLinkOn').className  = ( action ? 'currenttab' : 'othertab' );

	if ($(id + 'EditorLinkOff'))
		$(id + 'EditorLinkOff').className = ( !action ? 'currenttab' : 'othertab' );

	if ($(id + 'EditorLinkDefault'))
		$(id + 'EditorLinkDefault').className = ( ( action != ( ac_js_admin.htmleditor == 1 ) ) ? 'ac_block' : 'ac_hidden' );

	if ( !$(id + 'Editor') )
	  tmpEditorContent = ac_form_value_get($(id + 'Editor'));
	else // heavy hack!!!
	  tmpEditorContent = ac_form_value_get($(id + 'Editor'));
	return false;
  }

  function setDefaultEditor(id) {
	  var isEditor = ac_editor_is(id + 'Editor');
	  if ( isEditor == ( ac_js_admin.htmleditor == 1 ) ) return false;
	  // send save command
	  // save new admin limit remotelly
	  ac_ajax_call_cb('api.php', editorSetDefaultAction, null, 'htmleditor', ( isEditor ? 1 : 0 ));
	  $(id + 'EditorLinkDefault').className = 'disabledtab';
	  ac_js_admin.htmleditor = ( isEditor ? 1 : 0 );
	  return false;
  }
  {/literal}
</script>
{/if}

{if ($navlist|default:1)}
<ul id="navtabs">
  <li id="{$id}EditorLinkOn" class="{if $admin.htmleditor}currenttab{else}othertab{/if}">
	<a href="#" onclick="return toggleEditor('{$id}', true, {$editobject|default:'ac_editor_init_normal_object'});"><span>{"HTML Editor"|alang}</span></a>
  </li>
  <li id="{$id}EditorLinkOff" class="{if !$admin.htmleditor}currenttab{else}othertab{/if}">
	<a href="#" onclick="return toggleEditor('{$id}', false, {$editobject|default:'ac_editor_init_normal_object'});"><span>{"Text Editor"|alang}</span></a>
  </li>
</ul>
<a class="setdefault" href="#" onclick="return setDefaultEditor('{$id}');">{"Set as Default"|alang}</a>
{/if}

<textarea name="{$name}" id="{$id}Editor" style="width: {$editor_w}; height: {$editor_h};">{$content|default:''}</textarea>
<script type="text/javascript">
  if ({$ishtml|default:'false'})
	if ({$navlist|default:1})
	  toggleEditor('{$id}', true, {$editobject|default:'ac_editor_init_normal_object'});
	else
	  ac_editor_toggle('{$id}Editor', {$editobject|default:'ac_editor_init_normal_object'});
</script>
