{if isset($check4updates) and $check4updates}
<script type="text/javascript">
  {literal}
  function updatecheck_hide() {
	ac_dom_display_none("ac_updatecheck");1
	ac_cookie_create("ac_updatecheck_hide", "1", 720);
  }
  {/literal}
</script>
<div class="ac_updatecheck" id="ac_updatecheck">
  
  {if $site.brand_links}
  <b>{"A new version"|alang} (ActiveCampaign {$site.updateversion}) {"is now available!"|alang}</b>  &nbsp;
  <a href="http://www.activecampaign.com/support/manage.php?updating={$appID}&from={$site.version|replace:' ':'.'}&encoding={$encoding}&hash={$hash}" target="_blank">{"Click here to download"|alang}</a>
  {else}
  {"New version"|alang} {$site.updateversion} {"available!"|alang} {"Contact your software administrator to update."|alang}
  {/if}&nbsp;&nbsp;
  <div style="float:right; color:#a2b7c3;">
  (<a href="#" onclick="updatecheck_hide(); return false" style="color:#a2b7c3; text-decoration:none;">{"hide"|alang}</a>)
  </div>
</div>
{/if}
