<div id="api_parameters_campaign_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Campaign ID(s)"|alang}:</td>
      <td>
        <input type="text" name="campaign_list_param_ids" id="campaign_list_param_ids" value="all" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2</span> or <span class="code">3,5</span> or <span class="code">all</span>
      </td>
    </tr>
    <tr>
      <td>{"Show All Data?"|alang}</td>
      <td>
        <input type="checkbox" value="1" name="campaign_list_param_full" />
        ({"Check to return everything possible. UNcheck to return only a small subset of data."|alang})
      </td>
    </tr>
    <tr>
      <td>{"Filters (Optional)"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td>{"ID Greater Than"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[id_greater]" id="campaign_list_param_filters_id_greater" value="" class="settings_api_param_id" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">322</span></td>
          </tr>
          <tr>
            <td>{"ID Less Than"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[id_less]" id="campaign_list_param_filters_id_less" value="" class="settings_api_param_id" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">322</span></td>
          </tr>
          <tr>
            <td>{"Campaign Name"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[name]" id="campaign_list_param_filters_name" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">{"Holiday Newsletter"|alang}</span></td>
          </tr>
          <tr>
            <td>{"Campaign Type"|alang}:</td>
            <td>
              <select name="campaign_list_param_filters[type]" id="campaign_list_param_filters_type">
                <option value="">{"Choose"|alang}</option>
                <option value="single">single</option>
                <option value="recurring">recurring</option>
                <option value="split">split</option>
                <option value="responder">responder</option>
                <option value="reminder">reminder</option>
                <option value="special">special</option>
                <option value="activerss">activerss</option>
                <option value="text">text</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>{"List ID(s)"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[listid]" id="campaign_list_param_filters_listid" value="" class="settings_api_param_ids" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">22</span> or <span class="code">6,13,5</span></td>
          </tr>
          <tr>
            <td>{"Created Since Date/Time"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[cdate_since_datetime]" id="campaign_list_param_filters_cdate_since_datetime" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">2011-10-22</span></td>
          </tr>
          <tr>
            <td>{"Started Sending Since Date/Time"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[sdate_since_datetime]" id="campaign_list_param_filters_sdate_since_datetime" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">2011-10-22</span></td>
          </tr>
          <tr>
            <td>{"Last Sent Since Date/Time"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[ldate_since_datetime]" id="campaign_list_param_filters_ldate_since_datetime" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">2011-10-22</span></td>
          </tr>
          <tr>
            <td>{"Group ID(s)"|alang}:</td>
            <td><input type="text" name="campaign_list_param_filters[groupids]" id="campaign_list_param_filters_groupids" value="" class="settings_api_param_ids" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">4</span> or <span class="code">21,7</span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>{"Sort"|alang}:</td>
      <td>
        <select name="campaign_list_param_sort">
          <option value="id">{"Campaign ID"|alang}</option>
          <option value="cdate">{"Date Created"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Sort Direction"|alang}:</td>
      <td>
        <select name="campaign_list_param_sort_direction">
          <option value="ASC">{"Ascending (top to bottom)"|alang}</option>
          <option value="DESC">{"Descending (bottom to top)"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Page (10 per page)"|alang}:</td>
      <td>
        <input type="text" name="campaign_list_param_page" id="campaign_list_param_page" value="1" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">2</span>
      </td>
    </tr>
  </table>
</div>