<div id="api_parameters_group_add" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Title"|alang}:</td>
      <td>
        <input type="text" name="group_add_postvar_title" id="group_add_postvar_title" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">{"Group 2"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"Description"|alang}:</td>
      <td>
        <input type="text" name="group_add_postvar_descript" id="group_add_postvar_descript" value="" class="settings_api_param_general2" />
      </td>
    </tr>
    <tr>
      <td>{"List(s)"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
          {if $smarty.foreach.counter.iteration < 3}
            <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
              <input type="checkbox" value="{$l}" name="group_add_postvar_lists[{$l}]" id="group_add_postvar_lists_{$l}" checked="checked" />
              <label for="group_add_postvar_lists_{$l}">{$list.name} (ID: {$l})</label>
            </div>
          {/if}
        {/foreach}
      </td>
    </tr>
    <tr>
      <td>{"Send Methods"|alang}:</td>
      <td>
        <input type="text" name="group_add_postvar_sendmethods[]" id="group_add_postvar_sendmethods" value="" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2</span> or <span class="code">2,3</span>
      </td>
    </tr>
    <tr>
      <td>{"Permissions"|alang}</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_form_edit" id="group_add_postvar_pg_form_edit" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_form_edit">{"Manage Subscription Forms"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_list_bounce" id="group_add_postvar_pg_list_bounce" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_list_bounce">{"Manage Bounce Settings"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_list_add" id="group_add_postvar_pg_list_add" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_list_add">{"Add Lists"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_list_delete" id="group_add_postvar_pg_list_delete" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_list_delete">{"Delete Lists"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_list_edit" id="group_add_postvar_pg_list_edit" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_list_edit">{"Edit Lists"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_list_emailaccount" id="group_add_postvar_pg_list_emailaccount" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_list_emailaccount">{"Manage (Un)Subscribe By Email"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_list_headers" id="group_add_postvar_pg_list_headers" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_list_headers">{"Manage Custom Email Headers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_message_add" id="group_add_postvar_pg_message_add" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_message_add">{"Add Campaigns"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_message_delete" id="group_add_postvar_pg_message_delete" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_message_delete">{"Delete Campaigns"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_message_edit" id="group_add_postvar_pg_message_edit" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_message_edit">{"Edit Campaigns"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_message_send" id="group_add_postvar_pg_message_send" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_message_send">{"Send Campaigns"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_reports_campaign" id="group_add_postvar_pg_reports_campaign" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_reports_campaign">{"View Campaign Reports"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_reports_list" id="group_add_postvar_pg_reports_list" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_reports_list">{"View List Reports"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_reports_user" id="group_add_postvar_pg_reports_user" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_reports_user">{"View User Reports"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_reports_trend" id="group_add_postvar_pg_reports_trend" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_reports_trend">{"View Trend Reports"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_actions" id="group_add_postvar_pg_subscriber_actions" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_actions">{"Manage Subscriber Actions"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_add" id="group_add_postvar_pg_subscriber_add" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_add">{"Add Subscribers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_approve" id="group_add_postvar_pg_subscriber_approve" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_approve">{"Approve Subscribers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_delete" id="group_add_postvar_pg_subscriber_delete" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_delete">{"Delete Subscribers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_edit" id="group_add_postvar_pg_subscriber_edit" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_edit">{"Edit Subscribers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_export" id="group_add_postvar_pg_subscriber_export" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_export">{"Export Subscribers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_fields" id="group_add_postvar_pg_subscriber_fields" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_fields">{"Manage Subscriber Custom Fields"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_filters" id="group_add_postvar_pg_subscriber_filters" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_filters">{"Manage Subscriber List Segments"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_import" id="group_add_postvar_pg_subscriber_import" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_import">{"Import Subscribers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_subscriber_sync" id="group_add_postvar_pg_subscriber_sync" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_subscriber_sync">{"Database Sync Subscribers"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_template_add" id="group_add_postvar_pg_template_add" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_template_add">{"Add Email Templates"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_template_delete" id="group_add_postvar_pg_template_delete" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_template_delete">{"Delete Email Templates"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_template_edit" id="group_add_postvar_pg_template_edit" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_template_edit">{"Edit Email Templates"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_user_add" id="group_add_postvar_pg_user_add" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_user_add">{"Add Users"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_user_delete" id="group_add_postvar_pg_user_delete" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_user_delete">{"Delete Users"|alang}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <input type="checkbox" value="1" name="group_add_postvar_pg_user_edit" id="group_add_postvar_pg_user_edit" checked="checked" />
            </td>
            <td>
              <label for="group_add_postvar_pg_user_edit">{"Edit Users"|alang}</label>
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>{"Limits"|alang}</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_group_limit_attachment_checkbox" id="group_add_postvar_group_limit_attachment_checkbox" />
              <label for="group_add_postvar_group_limit_attachment_checkbox">{"Limit Attachments"|alang}</label>
            </td>
            <td>
              <input type="text" name="group_add_postvar_limit_attachment" id="group_add_postvar_limit_attachment" placeholder="Qty" class="settings_api_param_id" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_group_limit_campaign_checkbox" id="group_add_postvar_group_limit_campaign_checkbox" />
              <label for="group_add_postvar_group_limit_campaign_checkbox">{"Limit Campaigns"|alang}</label>
            </td>
            <td>
              <input type="text" name="group_add_postvar_limit_campaign" id="group_add_postvar_limit_campaign" placeholder="Qty" class="settings_api_param_ids" />
              <select name="group_add_postvar_limit_campaign_type" style="width: 200px;">
                <option value="">{"Choose..."|alang}</option>
                <option value="day">{"Per Day"|alang}</option>
                <option value="week">{"Per Week"|alang}</option>
                <option value="month">{"Per Month (Last 30 Days)"|alang}</option>
                <option value="month1st">{"Per Calendar Month (Counting from the 1st)"|alang}</option>
                <option value="monthcdate">{"Per Calendar Month (Counting from user creation date)"|alang}</option>
                <option value="year">{"Per Year"|alang}</option>
                <option value="ever">{"All Time"|alang}</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_group_limit_list_checkbox" id="group_add_postvar_group_limit_list_checkbox" />
              <label for="group_add_postvar_group_limit_list_checkbox">{"Limit Lists"|alang}</label>
            </td>
            <td>
              <input type="text" name="group_add_postvar_limit_list" id="group_add_postvar_limit_list" placeholder="Qty" class="settings_api_param_ids" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_group_limit_mail_checkbox" id="group_add_postvar_group_limit_mail_checkbox" />
              <label for="group_add_postvar_group_limit_mail_checkbox">{"Limit Emails Sent"|alang}</label>
            </td>
            <td>
              <input type="text" name="group_add_postvar_limit_mail" id="group_add_postvar_limit_mail" placeholder="Qty" class="settings_api_param_ids" />
              <select name="group_add_postvar_limit_mail_type" style="width: 200px;">
                <option value="">{"Choose..."|alang}</option>
                <option value="day">{"Per Day"|alang}</option>
                <option value="week">{"Per Week"|alang}</option>
                <option value="month">{"Per Month (Last 30 Days)"|alang}</option>
                <option value="month1st">{"Per Calendar Month (Counting from the 1st)"|alang}</option>
                <option value="monthcdate">{"Per Calendar Month (Counting from user creation date)"|alang}</option>
                <option value="year">{"Per Year"|alang}</option>
                <option value="ever">{"All Time"|alang}</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_group_limit_subscriber_checkbox" id="group_add_postvar_group_limit_subscriber_checkbox" />
              <label for="group_add_postvar_group_limit_subscriber_checkbox">{"Limit Subscribers"|alang}</label>
            </td>
            <td>
              <input type="text" name="group_add_postvar_limit_subscriber" id="group_add_postvar_limit_subscriber" placeholder="Qty" class="settings_api_param_ids" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_group_limit_user_checkbox" id="group_add_postvar_group_limit_user_checkbox" />
              <label for="group_add_postvar_group_limit_user_checkbox">{"Limit Subscribers"|alang}</label>
            </td>
            <td>
              <input type="text" name="group_add_postvar_limit_user" id="group_add_postvar_limit_user" placeholder="Qty" class="settings_api_param_ids" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_unsubscribelink" id="group_add_postvar_unsubscribelink" />
              <label for="group_add_postvar_unsubscribelink">{"Require unsubscribe link on all outgoing emails"|alang}</label>
            </td>
            <td></td>
            <td></td>
          </tr>
          <!--
          <tr>
            <td>
              <input type="input" value="" name="group_add_postvar_abuseratio" id="group_add_postvar_abuseratio" />
              <label for="group_add_postvar_abuseratio">{"Abuse Ratio Threshold"|alang}</label>
            </td>
            <td></td>
            <td></td>
          </tr>
          -->
          <tr>
            <td>
              <input type="checkbox" value="on" name="group_add_postvar_req_approval" id="group_add_postvar_req_approval" />
              <label for="group_add_postvar_req_approval">{"Require approval of campaigns before sending starts"|alang}</label>
            </td>
            <td>
              <input type="text" name="group_add_postvar_req_approval_1st" id="group_add_postvar_req_approval_1st" placeholder="Qty" class="settings_api_param_id" />
              <input type="text" name="group_add_postvar_req_approval_notify" id="group_add_postvar_req_approval_notify" placeholder="Notification email" class="settings_api_param_email" />
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>