<div id="api_parameters_list_field_view" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Custom Field ID (or personalization tag)"|alang}:</td>
      <td>
        <input type="text" name="list_field_view_param_ids" id="list_field_view_param_ids" value="" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">4</span> or <span class="code">PERS_8</span> 
      </td>
    </tr>
  </table>
</div>