<div id="api_parameters_message_template_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Template ID(s)"|alang}:</td>
      <td>
        <input type="text" name="message_template_list_param_ids" id="message_template_list_param_ids" value="all" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2</span> or <span class="code">3,5</span> or <span class="code">all</span>
      </td>
    </tr>
  </table>
</div>