<div id="api_parameters_user_add" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Username"|alang}:</td>
      <td>
        <input type="text" name="user_add_postvar_username" id="user_add_postvar_username" value="" class="settings_api_param_general1" />
        <b>{"Example"|alang}:</b> <span class="code">john_smith</span>
      </td>
    </tr>
    <tr>
      <td>{"Password"|alang}:</td>
      <td>
        <input type="password" name="user_add_postvar_password" id="user_add_postvar_password" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Re-type Password"|alang}:</td>
      <td>
        <input type="password" name="user_add_postvar_password_r" id="user_add_postvar_password_r" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Email Address"|alang}:</td>
      <td>
        <input type="text" name="user_add_postvar_email" id="user_add_postvar_email" value="" class="settings_api_param_email" />
      </td>
    </tr>
    <tr>
      <td>{"First Name"|alang}:</td>
      <td>
        <input type="text" name="user_add_postvar_first_name" id="user_add_postvar_first_name" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Last Name"|alang}:</td>
      <td>
        <input type="text" name="user_add_postvar_last_name" id="user_add_postvar_last_name" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Group(s)"|alang}:</td>
      <td>
        {foreach from=$admin.groups item=g}
          <input type="checkbox" value="{$g}" name="user_add_postvar_group[]" checked="checked" />
          {$g}
        {/foreach}
        <br />
        <input type="text" name="user_add_postvar_group[]" id="user_add_postvar_group_any" placeholder="ID" class="settings_api_param_id" />
      </td>
    </tr>
  </table>
</div>