<div id="api_parameters_user_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"User ID(s)"|alang}:</td>
      <td>
        <input type="text" name="user_list_param_ids" id="user_list_param_ids" value="" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2</span> or <span class="code">3,5</span>
      </td>
    </tr>
  </table>
</div>