						{foreach from=$stream item=row}

							<tr {if $row.isnew}class="new"{/if}>

								<td valign="top" class="streaminfo{if $row.options.fade} faded{/if}">

									<div class="{$row.options.class}">{$row.amount}</div>

									<p>{$row.options.text}<br /><small>{$row.timeago}</small></p>

								</td>

								{if $row.typestr == 'open'}
								<td valign="top" class="viewer{if $row.options.fade} faded{/if}"><span class="inlinebar sparkme">{$row.items.str}</span></td>
								{else}
								<td valign="top" class="viewer{if $row.options.fade} faded{/if}">

									<div class="avatarstream">
									{foreach from=$row.items item=item}

									{if $row.typestr == 'twitter'}
										<a href="{$item.link}" target="_blank" data-placement="above" rel="tip" title="{$item.name} (@{$item.user})"><img src="{$item.pic}" height="25" /></a>
									{else}
										<a href="main.php?action=subscriber_view&id={$item.id}" data-placement="above" rel="tip" title="{$item.email}{if $row.typestr == 'subscribe' and !$item.status}{" (pending opt-in)"|alang}{/if}"><img src="{$item.screenshot}" height="25" {if $row.typestr == 'subscribe' and !$item.status} class="faded"{/if} /></a>
									{/if}

									{/foreach}
									</div>

								</td>
								{/if}

							</tr>

						{/foreach}
