<table width="100%" cellspacing="0" cellpadding="0" border="0" id="streamview">
	<tr {if $row.isnew}class="new"{/if}>
		<td valign="top" width="15%">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td valign="top" align="center" width="15%" bgcolor="#{if $row.typestr == 'facebook'}3B5997{elseif $row.typestr == 'twitter'}27b9ea{else}ffd800{/if}"><font size="5" color="#{if $row.typestr == 'facebook' and $row.typestr == 'twitter'}ffffff{else}000000{/if}"><b>{$row.amount}</b></font></td>
					<td valign="top" align="left" width="6"></td>
					<td valign="top" align="left" width="80%"><b>{$row.options.text}</b><br /><font size="1" color="#909090">{$row.last|acpdate:$site.datetimeformat}</font></td>
				</tr>
			</table>
		</td>
		{if $row.typestr == 'open'}
		<td valign="top" width="85%"><span class="inlinebar sparkme">{$row.items.str}</span></td>
		{else}
		<td valign="top" width="85%">
			{foreach from=$row.items item=item}
			{if $row.typestr == 'twitter'}
				<a href="{$item.link}" target="_blank" title="{$item.name} (@{$item.user})"><img src="{$item.pic}" width="25" height="25" alt="{$item.name} (@{$item.user})" /></a>
			{else}
				<a href="main.php?action=subscriber_view&id={$item.id}" title="{$item.email}"><img src="{$item.screenshot}" width="25" height="25" alt="{$item.email}" /></a>
			{/if}
			{/foreach}
		</td>
		{/if}
	</tr>
</table>