<h1>{"API"|alang}</h1>
{include file="syntaxhighlighter.htm" tag='textarea'}

<script type="text/javascript">
	{literal}
	function api_load(name) {
		ac_ui_api_call(jsLoading);
		ac.post("api.api_load", { filename: name }, api_load_cb);
		$('api_filename').innerHTML = name;
	}

	function api_load_cb(data) {
		ac_ui_api_callback();

		var content = data;
		$J("#api_content_div").empty();
		$J("#api_content_div").append(sprintf("<textarea id='api_content' class='brush: php' style='height: 600px; width: 100%' wrap='off'>%s</textarea>", content));
		$J("#api_content").append(content);
		SyntaxHighlighter.highlight();
	}
	{/literal}
</script>


<div>
	<div style="margin-left: 15px;">
		<table border="0" cellspacing="0" cellpadding="0" width="99%">
			<tr>
				<td valign="top" width="325">
					<ul>
						{foreach from=$api_example_filenames item=filename name=counter}
							{if !ac_site_hosted_rsid() or substr($filename, 0, 9) != 'branding_'}
							<li><a href="javascript: api_load('{$filename}');">{$filename}</a></li>
							{/if}
						{/foreach}
					</ul>
				</td>
				<td valign="top">
					<h2 id="api_filename" style="background: #ffc; font-weight: bold;">{$api_example_filename1}</h2>
					<div id="api_content_div">
						<textarea id="api_content" class="brush: php" style="height: 600px; width: 100%;" wrap="off">{$api_example_content1}</textarea>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
