<div id="delete" class="ac_modal_delete" align="center" style="display: none">
  <div class="ac_modal_inner">
    <h1>{"Delete Campaign Approval(s)"|alang}</h1>
    <span id="delete_message"></span>
    <br />
    <ul id="delete_list"></ul>
    <br />
    <div>
      <input type="button" class="ac_button_ok" value="{"OK"|alang}" onclick="approval_delete(approval_delete_id)" />
      <input type="button" class="ac_button_cancel" value="{"Cancel"|alang}" onclick="ac_dom_toggle_display('delete', 'block'); ac_ui_anchor_set(approval_list_anchor())" />
    </div>
  </div>
</div>
