<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="bounce_code.js"}
</script>

<h1>{"Bounce Codes"|alang}</h1>

{include file="bounce_code.list.htm"}
{include file="bounce_code.form.htm"}
{include file="bounce_code.delete.htm"}
{include file="bounce_code.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(bounce_code_process, true);
</script>
