<div id="message_personalize" class="ac_modal" align="center" style="display:none;">
  <div class="ac_modal_inner">

	<div style="float:right; font-size:11px; color:#555;">{"Click the item you would like to insert."|alang}</div>
	<h1>{"Personalize Message"|alang}</h1>

	<div>
		<ul class="navlist">
			<li id="subinfo_tab" class="currenttab"><a href="#" onclick="campaign_personalization_show('personalize_subinfo'); return false">{"Subscribers"|alang}</a></li>
			<li id="message_tab"><a href="#" onclick="campaign_personalization_show('personalize_message'); return false">{"Message Options"|alang}</a></li>
			<li id="socmedia_tab"><a href="#" onclick="campaign_personalization_show('personalize_socmedia'); return false">{"Social Media"|alang}</a></li>
			<li id="other_tab"><a href="#" onclick="campaign_personalization_show('personalize_other'); return false">{"Other"|alang}</a></li>
		</ul>
	</div>
	<div id="personalizelist" class="clearfix">
	  <div id="personalize_subinfo" class="personalizelistsection">
			<ul>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%EMAIL%'); return false">{"Email Address"|alang}</a>
					<div>{"Email address used to subscribe to the list."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%FIRSTNAME%'); return false">{"First Name"|alang}</a>
					<div>{"First name of the subscriber (entered during signup/import)."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%LASTNAME%'); return false">{"Last Name"|alang}</a>
					<div>{"Last name of the subscriber (entered during signup/import)."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%FULLNAME%'); return false">{"Full Name"|alang}</a>
					<div>{"Subscriber's full name made out of first name followed by last name."|alang}</div>
				</li>
				<!-- fields -->
				{foreach from=$fields item=e}
				<li>
				<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('{if $e.perstag != ""}%{$e.perstag|escape}%{else}{$e.tag}{/if}'); return false">{$e.title|escape}</a>
				{if $e.descript != ""}
				<div>{$e.descript}</div>
				{/if}
				</li>
				{/foreach}
				<!-- the rest -->
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%SUBDATE%'); return false">{"Date Subscribed"|alang}</a>
					<div>{"The date that this subscriber subscribed."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%SUBTIME%'); return false">{"Time Subscribed"|alang}</a>
					<div>{"The time of the day the subscriber subscribed."|alang}</div>
				</li>
			</ul>
	  </div>
		<div id="personalize_message" class="personalizelistsection" style="display:none">
			<ul>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%UNSUBSCRIBELINK%'); return false">{"Unsubscribe Link"|alang}</a>
					<div>{"Unsubscribes the subscriber from the list used to send the email."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%WEBCOPY%'); return false">{"Web Copy"|alang}</a>
					<div>{"Allow subscribers to view the email in their browser."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%UPDATELINK%'); return false">{"Update Subscription Account Link"|alang}</a>
					<div>{"Allow subscribers to update their subscription details."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%FORWARD2FRIEND%'); return false">{"Send to Friend Link"|alang}</a>
					<div>{"Your subscribers can forward the email to multiple people."|alang}</div>
				</li>
				<li>
					<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%UNSUBSCRIBELINK%&ALL'); return false">{"Unsubscribe Link (All Lists)"|alang}</a>
					<div>{"Unsubscribe from all lists. Even lists not included in the email sent."|alang}</div>
				</li>
				<li style="{if !$surveymonkey_pass}display: none; {/if}margin-top: 7px;">

					<a id="surveymonkeylogin" style="font-weight: bold" href="#" onclick="ac_dom_toggle_display('smtoggle', 'block'); return false;">{"SurveyMonkey Survey"|alang}</a>

	        <div id="smtoggle" style="display:none;">

						<div id="message_personalize_surveymonkey_unconfirmed" style="margin: 5px 0;">
							<p>
								<button type="button" onclick="window.open('https://surveymonkey.ac-app.com/index.php?p_link=' + encodeURIComponent(ac_js_site.p_link) + '&ac_serial=' + serial_hash + '&context=campaign_new_message)', '_blank', 'height=560,location=no,menubar=no,status=no,toolbar=no,width=700');">{"Login to SurveyMonkey"}</button>
							</p>
						</div>

						<div id="message_personalize_surveymonkey_confirmed">

							<div id="message_personalize_surveymonkey_confirmed">
								<select name="message_personalize_surveymonkey_surveys" id="message_personalize_surveymonkey_surveys" onchange="campaign_personalization_insert(this.value); return false;" style="margin: 10px 0; width: 160px;">
									<option value="">{"Choose Survey"|alang}</option>
								</select>
								<span id="service_surveymonkey_refresh"><button class="btn" type="button" onclick="campaign_surveymonkey_get_surveys();">{"Refresh"|alang}</button></span>
								<div id="message_personalize_surveymonkey_confirmed0" style="display: none;">
									<p>{"There are no surveys available from your account."|alang}</p>
									<button class="btn" type="button" onclick="window.open(ac_js_site.p_link + '/admin/main.php?action=service#form-6', '_blank', 'height=560,location=no,menubar=no,status=no,toolbar=no,width=700');">{"Reconnect"|alang}</button>
								</div>
							</div>

						</div>

					</div>

				</li>
			</ul>
		</div>
		<script type="text/javascript">
		{literal}
		$J(document).ready(function(){
			$J("#surveymonkeylogin").click(function(){$J(".smtoggle").toggle();return false;});
		});
		{/literal}
		</script>
		<div id="personalize_socmedia" class="personalizelistsection" style="display:none">
			<ul>
				<li><a href="#" class="socialsubmit" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE%'); return false">{"Social Submit Links"|alang}</a></li>
				<li><a href="#" class="fblike" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIAL-FACEBOOK-LIKE%'); return false">{"Facebook Like Button"|alang}</a></li>
				<li><a href="#" class="fbshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-FACEBOOK%'); return false">{"Share on Facebook Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-FACEBOOK-LINK%'); return false;">{"Link"|alang}</a>)</li>
				<li><a href="#" class="twshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-TWITTER%'); return false">{"Share on Twitter Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-TWITTER-LINK%'); return false;">{"Link"|alang}</a>)</li>
				<li><a href="#" class="gplusshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-GPLUS%'); return false">{"Share on Google+ Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-GPLUS-LINK%'); return false;">{"Link"|alang}</a>)</li>
				<li><a href="#" class="redditshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-REDDIT%'); return false">{"Share on Reddit Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-REDDIT-LINK%'); return false;">{"Link"|alang}</a>)</li>
				<li><a href="#" class="diggshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-DIGG%'); return false">{"Share on Digg Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-DIGG-LINK%'); return false;">{"Link"|alang}</a>)</li>
				<li><a href="#" class="delshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-DELICIOUS%'); return false">{"Share on del.icio.us Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-DELICIOUS-LINK%'); return false;">{"Link"|alang}</a>)</li>
				<li><a href="#" class="stumshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-STUMBLEUPON%'); return false">{"Share on StumbleUpon Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-STUMBLEUPON-LINK%'); return false;">{"Link"|alang}</a>)</li>
				<li><a href="#" class="linkedinshare" style="font-weight: bold" onclick="campaign_personalization_insert('%SOCIALSHARE-LINKEDIN%'); return false">{"Share on LinkedIn Icon"|alang}</a> (<a style="margin: 0; padding: 0;" href="#" onclick="campaign_personalization_insert('%SOCIALSHARE-LINKEDIN-LINK%'); return false;">{"Link"|alang}</a>)</li>
			</ul>
		</div>
		<div id="personalize_other" class="personalizelistsection" style="display:none">
			<ul>
				<li><a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%TODAY%'); return false">{"Today's Date"|alang}</a></li>
				<li><a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%TODAY*%'); return false">{"Today's Date +/- X day(s)"|alang}</a></li>
				<li><a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%SENDER-INFO%'); return false">{"List Sender Info"|alang}</a></li>
				<li>
				<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%SUBSCRIBERIP%'); return false">{"Subscriber's IP Address"|alang}</a>
				<div>{"The IP Address of the subscriber when they subscribed to this list."|alang}</div>
				</li>
				<li>
				<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%LISTNAME%'); return false">{"Subscriber's List"|alang}</a>
				<div>{"Show the name of the list that this email was sent to."|alang}</div>
				</li>
				<li>
				<a href="#" style="font-weight: bold" onclick="campaign_personalization_insert('%SUBSCRIBERID%'); return false">{"Subscriber ID"|alang}</a>
				<div>{"Display the ID # of the subscriber."|alang}</div>
				</li>
			</ul>
		</div>
	</div>


    <div>
    {*<input type="button" value='{"Insert"|alang}' onclick="campaign_personalization_insert();" class="ac_button_ok" />*}
      <input type="button" value='{"Close"|alang}' onclick="campaign_message_cleartimeouts(); ac_dom_toggle_display('message_personalize', 'block');" />
      <input type="hidden" value="text" id="personalize4" />
      <input type="hidden" value="" id="personalize2" />
    </div>
  </div>
</div>
