<script type="text/javascript" src="js/campaign.js?v={$version}{$build}"></script>
<script type="text/javascript">
  {include file="campaign.inc.js"}
</script>
<script type="text/javascript" src="js/jq/hoverintent.js?v={$version}{$build}"></script>


<div class="pageHeadTitle">
	<h1>{"Campaigns"|alang}<span id="campaign_list_count" style="display:none;"></span></h1>
	<div class="filterSearch">
		<div class="search"><input type="text" value="" /><input type="button" onclick="campaign_list_search();" /></div>
	</div><!--//filterSearch-->
</div><!--//pageHeadTitle-->


{if !$campaignscnt}


<div class="ac_listing_empty">
	<h2><a href="main.php?action=campaign_new" rel="tip" title="Create">{"Create a new campaign"|alang}</a></h2>
	<p>{"You currently do not have any campaigns created. Reach your customers with an email marketing campaign."|alang}</p>
</div>
<div class="mscdftmsgscreenshot">
	<img src="images/mscdftmsgcampaign.png" onclick="location.href='main.php?action=campaign_new'" style="cursor:pointer;" />
</div>


{else}


<div id="campaignLists">
	<ul id="campaign_list" class="lists" style="display:none;"></ul>
	<div id="list_loader" style="padding:25px;" align="center">
		<img src="images/loader5.gif" border="0" />
	</div>
    <div id="list_noresults" style="display:none;">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
	<div id="listingFooter">
		<div id="list_paginator">
			{include file="pagination.js.tpl.htm" tabelize="campaign_list_tabelize" paginate="campaign_list_paginate"}
		</div>
	{if $admin.pg_message_add}<a class="btn" href="main.php?action=campaign_new">{"Create New Campaign"|alang}</a>{/if}
	</div><!--//listingFooter-->
</div><!--//campaignLists-->



<div id="reuseModal" class="modal show" style="display:none;">
    <div class="modal-header">
        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
        <h3>{"Resend This Campaign"|alang}</h3>
    </div>

    <div class="modal-body">
		<div class="ac_help_inline">{"Select how you would like to resend this campaign."|alang}</div>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			{if $admin.pg_message_add}
			<tr>
		      <td width="30"><input name="action" id="campaign_use_reuse" type="radio" value="reuse" checked="checked" /></td>
			  <td><label for="campaign_use_reuse">{"Create a new campaign based off of this campaign"|alang}</label></td>
		    </tr>
			{/if}
			<tbody id="resend_filter">
			  {if $canSendCampaign}
			  <tr>
				<td width="30"><input name="action" id="campaign_use_newsub" type="radio" value="newsub" {if !$admin.pg_message_add}checked="checked"{/if} /></td>
				<td><label for="campaign_use_newsub">{"Send to new subscribers (since this campaign was originally sent)"|alang}</label></td>
			  </tr>
			  <tr>
				<td width="30"><input name="action" id="campaign_use_unread" type="radio" value="unread" /></td>
				<td><label for="campaign_use_unread">{"Send to subscribers who have not read/opened this campaign"|alang}</label></td>
			  </tr>
			  {/if}
			</tbody>
		</table>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
        <a href="#" onclick="campaign_reuse(campaign_reuse_id); return false" class="btn reuse">{"Continue"|alang}</a>
    </div>
</div>


{if $admin.pg_message_delete}
<div id="deleteModal" class="modal show" style="display:none;">
    <div class="modal-header">
        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
        <h3>{"Are You Sure You Want to Delete This Campaign?"|alang}</h3>
    </div>

    <div class="modal-body">
        <div class="deletecampaign">
            <p>{"By deleting the campaign, all data related to the campaign will be removed as well. You will not be able to see any statistics for this campaign if you delete it."|alang}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
        <a href="#" onclick="campaign_delete(campaign_delete_id); return false" class="btn delete">{"Delete Campaign"|alang}</a>
    </div>
</div>
{/if}


{/if}
