<div id="message_activerss" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Insert RSS Feed"|alang}</h1>

		<div class="ac_help_inline">{"Dynamically include an RSS feed in your message.  Specify the RSS feed url, how many rows/entries to return, and whether or not to only fetch new rows/entries."|alang}</div>

		<br />
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td>{"Feed URL"|alang}</td>
				<td width="15">&nbsp;</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<input type="text" id="activerssurl" value="http://" style="width:99%;" />
				</td>

			</tr>
			<tr>
				<td>
					<tr><td>&nbsp;</td></tr>

					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="30"><input type="text" id="activerssloop" value="10" size="3" style="width:20px;" onkeypress="campaign_activerss_loop_changed();" /></td>
							<td>
								<label for="activerssall">
									{"Max. number of items to include."|alang}
								</label>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br />

		<div id="activersspreviewbox" class="ac_hidden">
			{"Preview:"|alang}
			<textarea id="activersspreview" style="width: 100%;" rows="10" readonly="readonly" disabled="disabled"></textarea>
			<br />
		</div>

		<div>
			<input type="button" value='{"Insert"|alang}' onclick="campaign_activerss_insert();" class="ac_button_ok" />
			<input type="button" value='{"Preview"|alang}' onclick="campaign_activerss_preview();" />
			<input type="hidden" value="html" id="activerss4" />
			<input type="hidden" value="" id="activerss2" />
		</div>
	</div>
</div>

<div id="activerss_tags_modal" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
      <div style="float:right;">
		<input type="button" value='{"Close"|alang}' onclick="ac_dom_toggle_display('activerss_tags_modal', 'block');" />
      </div>
      <h1>{"Tags in this feed"|alang}</h1>
      <table border="0" cellpadding="4" cellspacing="0" width="100%">
        <tbody id="activerss_tags"></tbody>
      </table>
      <br />
      <div style="text-align:right;">
		<input type="button" value='{"Close"|alang}' onclick="ac_dom_toggle_display('activerss_tags_modal', 'block');" />
      </div>
	</div>
</div>
