<div id="field_modal_addtextarea" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Add a custom field"|alang}</h1>

		<div style="margin-top: 10px">
			{"Name your custom field"|alang}
		</div>

		<div style="margin-top: 10px">
			<input type="text" id="field_modal_textarea_title">
		</div>

		<div style="margin-top: 10px">
			{"Choose how large your text area should be"|alang}
		</div>

		<div style="margin-top: 10px">
			<table>
				<tr>
					<td>{"Rows"|alang}</td>
					<td><input type="text" id="field_modal_textarea_rows" value="5" size="3"></td>
				</tr>
				<tr>
					<td>{"Columns"|alang}</td>
					<td><input type="text" id="field_modal_textarea_cols" value="40" size="3"></td>
				</tr>
			</table>
		</div>

<div style="display:none;">
		<div style="margin-top: 10px">
			{"Choose a personalization tag (put this in campaigns to personalize them)"|alang}
		</div>

		<div style="margin-top: 10px">
			% <input type="text" id="field_modal_textarea_perstag"> %
		</div>
</div>

		<div style="margin-top: 10px">
			<input id="field_modal_textarea_save_button" type="button" value='{"Save"|alang}' onclick="field_modal_save_textarea()" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('field_modal_addtextarea').hide()">
		</div>
	</div>
</div>
