<div id="field_modal_addcheckbox" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Add a custom field"|alang}</h1>

		<div style="margin-top: 10px">
			{"Name your custom field"|alang}
		</div>

		<div style="margin-top: 10px">
			<input type="text" id="field_modal_checkbox_title">
		</div>

		<div id="checkbox_opts" style="margin-top: 10px">
		</div>

		<div style="margin-top:10px">
			<a href="#" onclick="checkbox_newopt(checkbox_counter++, '{"new option"|alang|js}'); return false" style="font-size:10px;">{"add another option"|alang}</a>
		</div>

		<br clear="all">
<div style="display:none;">
		<div style="margin-top: 10px">
			{"Choose a personalization tag (put this in campaigns to personalize them)"|alang}
		</div>

		<div style="margin-top: 10px">
			% <input type="text" id="field_modal_checkbox_perstag"> %
		</div>
</div>
		<div style="margin-top: 10px">
			<input id="field_modal_checkbox_save_button" type="button" value='{"Save"|alang}' onclick="field_modal_save_checkbox()" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('field_modal_addcheckbox').hide()">
		</div>
	</div>
</div>

<script type="text/javascript">
	{literal}
	var checkbox_counter = 4;

	function checkbox_newopt(inc, defval) {
		var rval;

		rval = 
			sprintf("<div id='checkbox_opt%s'>", inc) +
			sprintf("<a href='#' class='choice_opt_delete' onclick='checkbox_delete(\"%s\"); return false'>x</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_up' onclick='checkbox_moveup(\"%s\"); return false'>^</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_down' onclick='checkbox_movedn(\"%s\"); return false'>v</a>", inc) + " " +
			sprintf("<input type='text' class='field_modal_checkbox_option' value='%s'>", defval) +
			"</div>";

		$J("#checkbox_opts").append(rval);
	}

	function checkbox_delete(inc) {
		if ($("checkbox_opt" + inc)) {
			$("checkbox_opts").removeChild($("checkbox_opt" + inc));
		}
	}

	function checkbox_moveup(inc) {
		var thisone = $("checkbox_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("checkbox_opt" + inc).previousSibling;

		if (!thatone)
			return;

		$("checkbox_opts").insertBefore(thisone, thatone);
	}

	function checkbox_movedn(inc) {
		var thisone = $("checkbox_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("checkbox_opt" + inc).nextSibling;

		if (!thatone)
			return;

		$("checkbox_opts").insertBefore(thatone, thisone);
	}

	checkbox_newopt(1, {/literal}'{"option"|alang|js} 1'{literal});
	checkbox_newopt(2, {/literal}'{"option"|alang|js} 2'{literal});
	checkbox_newopt(3, {/literal}'{"option"|alang|js} 3'{literal});
	{/literal}
</script>
