<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="filter.js"}
</script>

<h1>{"List Segments"|alang}<span id="filter_list_count" class="ac_inline" style="display:none;"></span></h1>

{include file="filter.list.htm"}
{include file="filter.form.htm"}
{include file="filter.delete.htm"}
{include file="filter.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(filter_process, true);
</script>
