<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
	{literal}
	var $J = jQuery.noConflict();
	var $I = function(x) {
		return $J("#" + x).get(0);
	};
	$J(document).ready(function() {
		form_tab_highlight(["details", 2], {/literal}{$listid}{literal});
		});
{/literal}
{include file="formdetails_request_email.js"}
</script>



{include file="form.inc.htm"}
<form id="optinform" method="POST" action="main.php" onsubmit="">
	<input type="hidden" name="action" value="formdetails_request_email">
	<input type="hidden" name="id" value="{$form.id}">
	<input type="hidden" name="listid" value="{$list.id}">
	<input type="hidden" name="messageid" value="{$form.messageid}">
	<input type="hidden" name="managetext" id="form_optin_managetextid" value="{$form.managetext}">
	<input type="hidden" id="form_optin_next" name="next" value="list">

	

		<div class="form_content_preview" style="padding:0px; margin-left:21px;">
			<div class="form_content_preview_inner">
				<div id="messagecontent" class="spaced">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="48%" valign="top">
								<h2>{"From Name"|alang}</h2>
								<div class="form_optin_help">
									{"It is suggested to use your company or personal name here."|alang}
								</div>
								<div  class="form_optin_input">
									<input type="text" tabindex="1" name="fromname" id="form_optin_fromname" onkeyup="form_change()" value="{$message.fromname}" style="width: 99%">
								</div>
							</td>
							<td width="4%" valign="top">&nbsp;</td>
							<td width="48%" valign="top">
								<h2>{"From Email"|alang}</h2>
								<div class="form_optin_help">
									{"Enter an email that this campaign should be sent as. You can also set a"|alang} <a href="#" onclick="ac_dom_toggle_display('replyto', 'block'); return false">{"reply-to"|alang}</a>.
								</div>
								<div  class="form_optin_input">
									<input type="text" tabindex="2" name="fromemail" id="form_optin_fromemail" onkeyup="form_change()" value="{$message.fromemail}" style="width: 99%">
								</div>

								<div id="replyto" style="{if !$message.reply2 or $message.fromemail == $message.reply2}display:none;{/if}">
									<h2 style="margin-top:15px;">{"Reply-To Email"|alang}</h2>
									<div class="form_optin_input border_top_5">
										<input type="text" name="reply2" id="form_optin_reply2" onkeyup="form_change();" value="{$message.reply2}" style="width: 100%">
									</div>
								</div>
							</td>
						</tr>
					</table>

					<h2 style="margin-top:20px;">{"Subject & Message"|alang}</h2>
					<div class="form_optin_help">
						{"This is the subject your subscribers will see.  We suggest a brief yet informative sentence.  This is what will engage your subscriber to open your email."|alang}
					</div>

					<div class="form_optin_input">
						<input tabindex="3" type="text" name="subject" id="form_optin_subject" onkeyup="form_change()" value="{$message.subject|default:''}" style="width: 99%; font-size:18px; padding:5px;">
						<div style="margin-top:20px;">
							<div>
								<div id="editordiv">
									<div id="editorhtml">
										<div style="margin:0px; padding-bottom:0px;">

											<div style="float:right; margin-bottom:3px;">
												<div align="right" style="vertical-align: middle;">
													<a href="#" onclick="form_optin_personalization_open(); return false;" style="  padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
												</div>
											</div>

											<div>
												<ul class="navlist" style="padding-left:4px; margin-top: 3px; border-bottom:0px;">

													<li id="messageEditorLinkOn" class="{if $admin.htmleditor}currenttab{else}othertab{/if}">
													<a href="#" onclick="return form_optin_toggle_editor('message', true, ac_editor_init_word_object); return false" style="border-bottom:0px;"><span>{"Visual Editor"|alang}</span></a>
													</li>
													<li id="messageEditorLinkOff" class="{if !$admin.htmleditor}currenttab{else}othertab{/if}">
													<a href="#" onclick="return form_optin_toggle_editor('message', false, ac_editor_init_word_object); return false" style="border-bottom:0px;"><span>{"Code Editor"|alang}</span></a>
													</li>

												</ul>
											</div>

											<div id="messageEditorLinkDefault" style="display:none;padding:2px; padding-left:4px; font-size:10px; background:none; border-top:1px solid #CCCCCC; background:#FFFFD5; ">
												<a href="#" onclick="return form_optin_setdefaulteditor('message');" style="color:#666666;">{"Set as default editor mode"|alang}</a>
											</div>
										</div>
									</div>
									<textarea tabindex="4" name="html" id="messageEditor" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px;  margin-right:0px;" onblur="messageChanged=true;"></textarea>
								</div>
								{if $admin.htmleditor}<script>form_optin_toggle_editor('message', true, ac_editor_init_word_object);</script>{/if}
							</div>
						</div>
					</div>



					<div class="form_optin_input" style=" padding-top:0px; font-size:11px; color:#666;">
						<div id="askmanagetext" style="{if $form.managetext}display:none{/if}">
							{"We will automatically create a nicely formatted text-only version of your message for you."|alang}

							<div style="float: right">
								<a href="#" onclick="form_optin_managetext(1); form_change(); return false" style="color:#999;">{"Let me manage the text only version"|alang}</a>
							</div>
						</div>

						<div id="willmanagetext" style="{if !$form.managetext}display: none{/if}">
							{"You have chosen to manage the text version of your message."|alang}

							<div style="float: right">
								<a href="#" onclick="form_optin_managetext(0); form_change(); return false" style="color:#999;">{"No, I'd rather let it be generated automatically"|alang}</a>
							</div>
						</div>
					</div>

					<div id="textversion" style="margin-top: 20px; {if !$form.managetext}display:none{/if}">
						<textarea name="text" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px;  margin-right:0px;" onblur="messageChanged=true;">{$message.text}</textarea>
					</div>
				</div>

				<div class="spaced">
					<input type="button" value='{"Save"|alang}' onclick="form_optin_save('optin')">
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		{literal}
		if (message_obj.html != "") {
			ac_form_value_set($("messageEditor"), message_obj.html);
		}
{/literal}
</script>
</form>

{include file="formdetails_request_email.personalize.htm"}
