<div class="formbuilder_options">
	<span class="saving" style="display: none;">{"Saving"|alang}</span>
	<a class="save" onclick="form_save_button(); return false" href="#"><span>{"Save"|alang}</span></a>
</div>

<script type="text/javascript">
	{if preg_match('/form_optin|formdetails_request_email|formunsub_conf/', $action)}
	{literal}
	function form_save_button() {
		form_optin_save('optin');
	}
	{/literal}
	{else}
	{literal}
	function form_save_button() {
		$J(".saving").show('drop', { direction: "right" }, 500);
		ac.wait(1.5, function() {
			$J(".saving").hide('drop', { direction: "right" }, 500);
		});
	}
	{/literal}
	{/if}
</script>

<h1>{"Integration settings for list"|alang}
<select onchange="form_switch_list(this.value)">
		{foreach from=$lists item=e}
		<option value="{$e.id}" {if $listid == $e.id}selected{/if}>{$e.name}</option>
		{/foreach}
	</select></h1>

<ul id="form_tabs" class="tabs">
	<li id="form_tabs_gallery"><a href="main.php?action=form">{"Custom Forms"|alang}</a></li>
	<li id="form_tabs_sub"><a href="main.php?action=formsub_result&listid={$listid}">{"Subscriptions"|alang}</a></li>
	<li id="form_tabs_unsub"><a href="main.php?action=formunsub_result&listid={$listid}">{"Unsubscribes"|alang}</a></li>
	<li id="form_tabs_details"><a href="main.php?action=formdetails_edit&listid={$listid}">{"Subscription Updates"|alang}</a></li>
	<li id="form_tabs_forward"><a href="main.php?action=formforward_edit&listid={$listid}">{"Forward to a Friend"|alang}</a></li>
	<li id="form_tabs_archive"><a href="main.php?action=formarchive_edit&listid={$listid}">{"Campaign Archive"|alang}</a></li>
</ul>
<ul id="form_pills" class="pills">
	<div id="form_pills_sub" style="display: none;">
		<li><a href="main.php?action=formsub_result&listid={$listid}">{"Opt-In has been sent confirmation"|alang}</a></li>
		<li><a href="main.php?action=formsub_confirm_result&listid={$listid}">{"Subscription completed confirmation"|alang}</a></li>
		<li><a href="main.php?action=formsub_error&listid={$listid}">{"Subscription error occurred"|alang}</a></li>
	</div>
	<div id="form_pills_unsub" style="display: none;">
		<li><a href="main.php?action=formunsub_result&listid={$listid}">{"Unsubscription completed confirmation"|alang}</a></li>
		<li><a href="main.php?action=formunsub_edit&listid={$listid}">{"Default unsubscription form"|alang}</a></li>
		<li><a href="main.php?action=formunsub_error&listid={$listid}">{"Unsubscription error"|alang}</a></li>
	</div>
	<div id="form_pills_details" style="display: none;">
		<li><a href="main.php?action=formdetails_request&listid={$listid}">1) {"Request to update"|alang}</a></li>
        <li><a href="main.php?action=formdetails_request_confirm&listid={$listid}">2) {"Confirmation of request"|alang}</a></li>
        <li><a href="main.php?action=formdetails_request_email&listid={$listid}">3) {"Email to confirm request"|alang}</a></li>
        <li><a href="main.php?action=formdetails_edit&listid={$listid}">4) {"Form to update subscription"|alang}</a></li>
        <li><a href="main.php?action=formdetails_confirm&listid={$listid}">5) {"Confirmation of updates being saved"|alang}</a></li>
	</div>
	<div id="form_pills_archive" style="display: none;">
		<li><a href="main.php?action=formarchive_edit&listid={$listid}">{"Archive page listing campaigns"|alang}</a></li>
	</div>
	<div id="form_pills_forward" style="display: none;">
		<li><a href="main.php?action=formforward_edit&listid={$listid}">{"Forward to a friend form"|alang}</a></li>
		<li><a href="main.php?action=formforward_result&listid={$listid}">{"Forwards sent confirmation message"|alang}</a></li>
	</div>
	<div id="form_pills_code" style="display: none;">
		<li><a href="main.php?action=">{"Direct Link"|alang}</a></li>
		<li><a href="main.php?action=">{"HTML Code"|alang}</a></li>
	</div>
</ul>
