{if isset($localhost_warning)}
<div class="ac_help_inline mainError">
  <strong>{"You are using this software using a loopback address (localhost domain or 127.0.0.1 IP address) and that will cause problems if you try to send out a live campaign."|alang}</strong><br />
<br />

  {"Many parts of the software will NOT function properly if you run the software using this domain name. Please install the application on a live domain before sending a live campaign, so that the recipients can access (public side of) the software as well."|alang}
</div>
{/if}






{if isset($httpauth_warning)}
<div class="ac_help_inline mainError">
  <strong>{"Your software directory currently has password and/or authentication requirements that cause software conflicts"|alang}</strong><br />

  {"Many parts of the software will NOT function properly if you have authentication required (such as htaccess auth)  Please remove all password/authentication requirements from the software folder and refresh this page."|alang}
</div>
{/if}





{if isset($php_timezone_not_set)}
<div class="ac_help_inline mainError" >
	<strong>{"Your server does not have its timezone set"|alang}.</strong>

	{"Please ask your server administrator to modify your web server's php.ini file."|alang}
	{"Locate the date.timezone directive in that file, and assign a time zone to it."|alang}
	{"For instance, if you were in the US Central time zone, you might use:"|alang}

	<code>date.timezone = America/Chicago</code>
</div>
{/if}




{if ac_admin_ismaingroup()}

	{if isset($cron_not_scheduled)}
	<div class="ac_help_inline mainError" >
		<strong>{"Your software may not have a cron job (or scheduled task) setup properly."|alang}</strong>
		<i>{"We have determined this by checking for recent (in the last 24 hours) sending activity. If you are planning to send a campaign soon, this message may go away on it's own, so there is no need for any action on your part. Also, this message only shows up for Admin Group users."|alang}</i>
	
		<div class="spaced">
			{"Your software will not operate properly until you have a cron job or scheduled task set to run the admin/cron.php file every 5 minutes."|alang}
			{"If you are not sure how to set up a cron job or scheduled task, you should consult with your web host or system administrator."|alang}
		</div>
	
		<div>&nbsp;</div>
	
		{if !$isWindows}
			<div class="question">{"I have a UNIX-based server."|alang} {"How do I setup cron jobs?"|alang}</div>
			<div class="answer">
				<p>
				{"Typically you will be able to setup your cron with the following format:"|alang}
				</p>
				<div class="code">
					*/5 * * * * php {$cronBasePath}/admin/cron.php
				</div>
		
				<p>
				{"If your PHP executable is installed in a custom folder, you may need to specify the PHP folder (such as /usr/local/bin/php) with your custom PHP path in a following command:"|alang}
				</p>
				<div class="code">
					*/5 * * * * <u>/usr/local/bin/php</u> {$cronBasePath}/admin/cron.php
				</div>
		
				<p>
				{"If you are having trouble setting up the cron (or do not know the location of PHP on the server) you can use the following format:"|alang}
				</p>
				<div class="code">
					*/5 * * * * wget {$plink}/admin/cron.php > /dev/null
				</div>
			</div>
	
		{else}
	
			<div class="question">{"I have a Windows-based server."|alang} {"How do I setup cron jobs?"|alang}</div>
			<div class="answer">
				<p>
				{"Since Window-based servers do not have cron jobs, you can achieve the same effect by using Scheduled Tasks application (under All Programs->Accessories->System Tools->Scheduled Tasks)."|alang}
				{"Simply place a following command that should call that script (Every 5 Minutes) from a web server into a field named 'Run':"|alang}
				</p>
		
				<p>
				{"If your PHP executable is installed in the default folder (C:\PHP) which is specified in the first line of cron.php, you will be able to setup a following command:"|alang}
				</p>
				<div class="code">
					C:\PHP\php.exe {$cronBasePath}\admin\cron.php
				</div>
		
				<p>
				{"If your PHP executable is installed in a custom folder, then replace the default folder (C:\PHP) with your custom PHP path in a following command:"|alang}
				</p>
				<div class="code">
					<u>C:\PHP\php.exe</u> {$cronBasePath}\admin\cron.php
				</div>
			</div>
	  {/if}
	
	</div>
	{/if}

{/if}




{if isset($suphp_warning)}
<div class="ac_help_inline mainError">
  <strong>{"Your server seems to have PHPsuExec or suPHP installed"|alang}</strong><br />

  {"Having PHPsuExec or suPHP enabled could cause unexpected performance and/or stability issues. Some parts of the software might NOT function properly if you have these security extensions loaded on your server.  Please remove the extension to hide this message."|alang}
</div>
{/if}




{if isset($innodb_lowmem) and $admin.id == 1}
<div class="ac_help_inline mainError">
  <strong>{"Your MySQL server is configured to use less than"|alang}
  {$innodb_lowmem}
  {"megabytes of physical RAM, which may cause you to experience slow performance."|alang}</strong><br /><br />
  {"Please consider raising this amount in your server's my.cnf file, or ask your system administrator or ISP to do so for you.  The variable which must be increased is innodb_buffer_pool_size, and ideally should be half of all the physical RAM your server has installed.  (Example: innodb_buffer_pool_size=1G)"|alang}<br />
  <br />
  <div style="color:#999999;">{"This warning will only show for users in the (admin) group."|alang}</div>
</div>
{/if}




{if $site.mailer_log_file and $admin.id == 1}
<div id="campaign_sendlog_warn" class="ac_help_inline mainError">
  <strong>
    {"Campaign sending logs are currently enabled. This means every campaign sent is being logged. This is useful for debugging potential sending issues but will cause your sending to be slower than usual. If you are not debugging your email sending click %shere%s to disable logging."|alang:'<a href="#" onclick="return campaign_sendlog_switch();">':'</a>'}
  </strong>
</div>
{/if}


