{if $error_mesg != ''}
<script>
{if $error_mesg == 'timeout'}
ac_error_show('{"Timeout occurred. Please login again."|alang|js}');
{literal}
$J('#login_container').effect("shake", { times:1, direction:'left', distance:3 }, 75);
{/literal}

{elseif $error_mesg == 'invalidlogin'}
ac_error_show('{"Invalid Login Information Provided. Please try again."|alang|js}');
{literal}
$J('#login_container').effect("shake", { times:1, direction:'left', distance:3 }, 75);
{/literal}

{elseif $error_mesg == 'logout'}
ac_result_show('{"You have been logged out."|alang|js}');
{/if}

</script>
{/if}
<script>
{literal}
function fade_login(){
$J('#login_container').fadeTo(1000, 0.55);
$J('#login_container').fadeTo(5000, 0.25);
$J('#login_container').fadeTo(1000, 1.00);
}
{/literal}
</script>

<form action="login.php" method="post" name="log_user" id="log_user" style="margin:0px;" onsubmit="fade_login();">
	<div>{"Username"|alang}</div>
	<input name="user" type="text" id="user" value="{$username}" style="width:97%;" tabindex="1" />
	<div style="margin-top:14px;">{"Password"|alang} </div>
	<input name="pass" type="password" id="pass" style="width:97%;" tabindex="2" autocomplete="off" />

	<div style="margin-top:14px;">
		<div style="float:right; padding-top:8px;">
			<label>
				<table cellpadding="0" cellspacing="0" border="0" class="ac_login_box_remember_me">
					<tr>
						<td><input name="rmu" type="checkbox" id="rmu" value="1" tabindex="3" {if $username} checked="checked" {/if} /></td>
						<td>{"Remember my username"|alang}</td>
					</tr>
				</table>
			</label>
		</div>
	<input type="submit" class="ac_button_login" value="{"Login"|alang}" tabindex="4"  />
	<input name="idt" type="hidden" id="idt" value="{$idt|escape:'html'}" />
	</div>
</form>


