<script type="text/javascript" src="js/list.js?rand={rand}"></script>
<script type="text/javascript">
  {include file="list.inc.js"}
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	{literal}
	google.load("visualization", "1", {packages:["corechart"]});
	{/literal}
</script>

<div class="pageHeadTitle">
	<h1>{"Lists"|alang}<span id="lists_list_count" style="display:none;"></span></h1>
	<div class="filterSearch">
		<div class="search"><input type="text" value="" /><input type="button" onclick="list_list_search();" /></div>
	</div><!--//filterSearch-->
</div><!--//pageHeadTitle-->


{if !$listsListCnt}


<div class="ac_listing_empty">
	<h2><a href="#" onclick="list_form_open(0);return false;" rel="tip" title="Create">{"Create a new list"|alang}</a></h2>
	<p>{"You currently do not have any lists created. Create a list to import your customers into it."|alang}</p>
</div>
<div class="mscdftmsgscreenshot">
	<img src="images/mscdftmsglist.png"  onclick="list_form_open(0);return false;" style="cursor:pointer;" />
</div>


{else}


<div id="listLists">
	<div id="list_list" class="lists" style="display:none;"></div>
	<div id="list_loader" style="padding:25px;" align="center">
		<img src="images/loader5.gif" border="0" />
	</div>
    <div id="list_noresults" style="display:none;">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
	<div class="clearfix"></div>
	<div id="listingFooter">
		<div id="list_paginator">
			{include file="pagination.js.tpl.htm" tabelize="list_list_tabelize" paginate="list_list_paginate"}
		</div>
		{if $canAddList}
		<a class="btn" href="#" onclick="list_form_open(0);return false;">{"Add New List"|alang}</a>
		{/if}
	</div><!--//listingFooter-->
</div><!--//listLists-->


{/if}

{if $canAddList or $admin.pg_list_edit}
<form id="formModal_form">
		<div id="formModal" class="modal show" style="display:none; max-height:600px;">
		    <div class="modal-header">
		        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
		        <h3>{"Create New List"|alang}</h3>
		    </div>

		    <div class="modal-body" style="max-height:400px; overflow-y:scroll;">
				<div class="list_form_row">
					<label for="list_form_name">{"List Name:"|alang}</label>
					<input type="text" id="list_form_name" name="name" value="" tabindex="1" />
				</div>
				<div id="list_form_addresses" class="list_form_row" {if !$addresses}style="display:none;"{/if}>
					<label for="list_form_sender_addresses">{"Sender Address:"|alang}</label>
					<select id="list_form_sender_addresses" name="addressid" size="1" onchange="list_form_sender_populate(this.value);if(this.value==0)$J('#list_form_address').show(); else $J('#list_form_address').hide();">
						{foreach from=$addresses item=a name=addrloop}
						<option value="{$a.id}" {if !$smarty.foreach.addrloop.first}selected="selected"{/if}>{$a.sender_name}, {$a.sender_addr1}, {$a.sender_city}, {$a.sender_country}</option>
						{/foreach}
						<option value="0" {if !$addresses}selected="selected"{/if}>{"Add New Address..."|alang}</option>
					</select>
				</div>
				<div id="list_form_address" class="list_form_row" style="{if $addresses}display:none;{/if}">
					{include file='list.address.htm'}
				</div>
		    </div>
		    <div class="modal-footer">
		        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
		        <a href="#" onclick="list_save(list_edit_id); return false" class="btn edit">{"Create List"|alang}</a>
		    </div>
		</div>
</form>
{/if}

{if $canAddList}
<div id="copyModal" class="modal show" style="display:none;">
    <div class="modal-header">
        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
        <h3>{"Copy This List"|alang}</h3>
    </div>

    <div class="modal-body">
		<div class="ac_help_inline">{"Select what you would like to copy from this list."|alang}</div>
		<div id="copy_pref">
			<input type="checkbox" id="copy_bounce" name="copy_bounce"                   value="1" checked="checked"> {"Bounce Settings"|alang}<br>
			<input type="checkbox" id="copy_exclusion" name="copy_exclusion"             value="1" checked="checked"> {"Exclusions"|alang}<br>
			<input type="checkbox" id="copy_filter" name="copy_filter"                   value="1" checked="checked"> {"Sending Filters"|alang}<br>
			<input type="checkbox" id="copy_header" name="copy_header"                   value="1" checked="checked"> {"Custom Email Headers"|alang}<br>
			<input type="checkbox" id="copy_personalization" name="copy_personalization" value="1" checked="checked"> {"Personalization"|alang}<br>
			<input type="checkbox" id="copy_template" name="copy_template"               value="1" checked="checked"> {"Templates"|alang}<br>
			<input type="checkbox" id="copy_field" name="copy_field"                     value="1" checked="checked"> {"Custom Subscriber Fields"|alang}<br>
			<input type="checkbox" id="copy_form" name="copy_form"                       value="1" checked="checked"> {"Subscription Forms"|alang}
			<br />
			<br />
			<input type="checkbox" id="copy_subscriber" name="copy_subscriber" value="1"> {"Subscribers"|alang}<br>
		</div>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
        <a href="#" onclick="list_copy(list_copy_id); return false" class="btn copy">{"Copy List"|alang}</a>
    </div>
</div>
{/if}


{if $admin.pg_list_edit}
<form id="settingsModal_form">
		<div id="settingsModal" class="modal show" style="display:none; max-height:600px;">
		    <div class="modal-header">
		        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
		        <h3>{"List Settings"|alang}<span id="settingsModal_listname"></span></h3>
		    </div>

		    <div class="modal-body" style="max-height:400px; overflow-y:scroll;">
		        <div class="list_settings_row">
					{include file='list.settings.htm'}
		        </div>
		        <div class="list_settings_row">
					{include file='list.integration.htm'}
		        </div>
		    </div>
		    <div class="modal-footer">
		        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
		        <a href="#" onclick="list_settings_save(list_edit_id); return false" class="btn delete">{"Save List"|alang}</a>
		    </div>
		</div>
</form>
{/if}


{if $admin.pg_list_delete}
<div id="deleteModal" class="modal show" style="display:none;">
    <div class="modal-header">
        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
        <h3>{"Are You Sure You Want to Delete This List?"|alang}</h3>
    </div>

    <div class="modal-body">
        <div class="deletelist">
            <p>{"By deleting the list, all data related to the list will be removed as well. You will not be able to see any statistics for this list if you delete it."|alang}</p>
            <div class="deletelistconfirm">
            	<div><input name="" type="checkbox" value="" id="delete1" /> <label for="delete1">{"I understand that all subscribers for this list will be deleted."|alang}</label></div>
            	<div><input name="" type="checkbox" value="" id="delete2" /> <label for="delete2">{"I understand that all campaigns & campaign reports for this list will be deleted."|alang}</label></div>
            	<div><input name="" type="checkbox" value="" id="delete3" /> <label for="delete3">{"I understand that all reports for this list will be deleted."|alang}</label></div>
            	<div><input name="" type="checkbox" value="" id="delete4" /> <label for="delete4">{"I understand that all settings (segments, fields, etc..) for this list will be deleted."|alang}</label></div>

            	<div><input name="" type="checkbox" value="" id="delete5" /> <label for="delete5" style="color:#990000;">{"I understand that this cannot be undone.  All list data will be gone forever."|alang}</label></div>


            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
        <a href="#" onclick="list_delete(list_delete_id); return false" class="btn delete">{"Delete List"|alang}</a>
    </div>
</div>
{/if}

