<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
  <td colspan="2">
	<label for="sendernameField">{"Company (or Organization)"|alang}</label>
	<input name="sender_name" type="text" id="sendernameField" value="" size="50" tabindex="3" onkeyup="list_form_sender_livepreview(this.value, 'company', 1);" />
  </td>
  <td rowspan="4" width="20">&nbsp;</td>
  <td rowspan="4" valign="top">
	  <div style="font-size:12px; line-height:16px; {if $__ishosted}display:none{/if}">
		<div style="font-size:11px; line-height:14px; color:#999;">{"The company name and address will be included in the footer of all of your emails sent. A preview is below:"|alang}</div>
		<div style="padding:5px; border:1px dotted #999; margin-top:10px;">
			<span style="text-decoration:underline;">{"Unsubscribe"|alang}</span><br />
			<br />
			<span id="sender_company_display">{"Your Company"|alang}</span><br />
			<span id="sender_address1_display">{"Address"|alang}</span>, <span id="sender_address2_display">{"Suite/Apt"|alang}</span>,<br />
			<span id="sender_city_display">{"City"|alang}</span>, <span id="sender_state_display">{"State"|alang}</span> <span id="sender_zip_display">{"ZIP"|alang}</span><br />
			<span id="sender_country_display">{"Country"|alang}</span>
		</div>
	</div>
  </td>
</tr>

<tr>
  <td colspan="2">
	<label for="senderaddr1Field">{"Address"|alang}</label>
	<input name="sender_addr1" type="text" id="senderaddr1Field" value="" size="50" tabindex="4" onkeyup="list_form_sender_livepreview(this.value, 'address1', 1);" /><br />
	<input name="sender_addr2" type="text" id="senderaddr2Field" value="" size="50" tabindex="5" onkeyup="list_form_sender_livepreview(this.value, 'address2', 1);" />
  </td>
</tr>

<tr>
  <td>
	<label for="sendercityField">{"City"|alang}</label>
	<input name="sender_city" type="text" id="sendercityField" value="" size="20" tabindex="6" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'city', 1);" />
  </td>
  <td>
	<label for="senderstateField">{"State or Region"|alang}</label>
	<input name="sender_state" type="text" id="senderstateField" value="" size="20" tabindex="7" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'state', 1);" />
  </td>
</tr>
<tr>
  <td>
	<label for="senderzipField">{"Zip or Postal Code"|alang}</label>
	<input name="sender_zip" type="text" id="senderzipField" value="" size="20" tabindex="8" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'zip', 1);" />
  </td>
  <td>
	<label for="sendercountryField">{"Country"|alang}</label>
	<input name="sender_country" type="text" id="sendercountryField" value="" size="20" tabindex="9" style="width:140px;" onkeyup="list_form_sender_livepreview(this.value, 'country', 1);" />
  </td>
</tr>
<tr style="display:none;">
  <td width="50%">&nbsp;

  </td>
  <td>
	<label for="senderphoneField">{"Phone #"|alang}</label>
	<input name="sender_phone" type="text" id="senderphoneField" value="" size="20" style="width:140px;" />
  </td>
</tr>

</table>