		  
			<div class="campaign_help">{"If you check this option all new subscribers will be sent a copy of the last campaign you sent immediately upon subscribing."|alang}</div>
			<div class="campaign_input">
				<label><input type="checkbox" name="send_last_broadcast" id="lastbroadcastPField" value="1" /> {"Send last campaign to new subscribers."|alang}</label>
			</div>
<br />
			<div class="campaign_help">{"All campaigns sent to this list will be sent to the provided email address(es). Separate multiple emails by comma."|alang}</div>
			<div class="campaign_input">
				<label for="carboncopyField">{"Send copies of campaigns to"|alang}</label>
				<input name="carboncopy" type="text" id="carboncopyField" value="" size="30" />
			</div>
<br />
			<div class="campaign_help">{"Whenever a subscriber subscribes to this list, the system will send an email to these recipients. Separate multiple emails by comma."|alang}</div>
			<div class="campaign_input">
				<label for="subscriptnotifyField">{"Subscription notification email"|alang}</label>
				<input name="subscription_notify" type="text" id="subscriptnotifyField" value="" size="30" />
			</div>
<br />
			<div class="campaign_help">{"Whenever a subscriber unsubscribes from this list, the system will send an email to these recipients. Separate multiple emails by comma."|alang}</div>
			<div class="campaign_input">
				<label for="unsubscriptnotifyField">{"Unsubscription notification email"|alang}</label>
				<input name="unsubscription_notify" type="text" id="unsubscriptnotifyField" value="" size="30" />
			</div>
<br />
{if ac_admin_ismaingroup()}			   
			<div class="campaign_help">{"The user who owns the list will determine which branding settings the list uses."|alang}</div>
			<div class="campaign_input">
				<label for="useridField">{"List Owner"|alang}
				<select name="userid" id="useridField" size="1" style="margin-left:10px;">
{foreach from=$groupsList item=g}
					<optgroup label="{$g.title}">
{foreach from=$g.admins item=u}
						<option value="{$u.id}">{$u.username}</option>
{/foreach}
					</optgroup>
{/foreach}
				</select></label>
			</div>
{else}
			<div class="campaign_input">
			<input type="hidden" name="userid" id="useridField" />
			</div>
{/if}