	<div class="main_menu">
		<ul>
			<li><a {$style_dashboard} href="main.php">{"Dashboard"|alang}</a></li>
			<li><a {$style_list} href="main.php?action=list">{"Lists"|alang}</a></li>

			<li><a {$style_campaign} href="main.php?action=campaign">{"Campaigns"|alang}</a></li>
			<li><a {$style_subscriber} href="main.php?action=subscriber">{"Subscribers"|alang}</a></li>

			<li><a {$style_integration} href="main.php?action=form">{"Integration"|alang}</a></li>
			<li><a {$style_reports} href="main.php?action=report">{"Reports"|alang}</a></li>
		</ul>
	</div>


