<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="personalization.js"}
</script>

<h1>{"Message Variables"|alang}</h1>

{include file="personalization.list.htm"}
{include file="personalization.form.htm"}
{include file="personalization.delete.htm"}
{include file="personalization.search.htm"}
{include file="editor.personalize.inc.htm"}
{include file="editor.conditional.inc.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(personalization_process, true);
</script>
