<div id="unsub" class="ac_hidden">
  <div class="startup_box_container">
	<div class="startup_box_container_inner">
	  <table border="0" cellspacing="0" cellpadding="0">
		<tr>
		  <td style="font-size:19px;"><span id="unsub_total_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Unsubscriptions"|alang} <span id="unsub_total_p" style="color:#999999;">(0.00%)</span></td>
		  <td width="15">&nbsp;</td>
		  <td style="font-size:19px;"><span id="unsub_reason_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Unsubscription Reasons"|alang} <span id="unsub_reason_p" style="color:#999999;">(0.00%)</span> </td>
		</tr>
	  </table>
	</div>
  </div>
  <br />

  <form action="main.php?action=report_campaign" method="GET" onsubmit="unsub_list_search(); return false">
	{if isset($smarty.get.print) and $smarty.get.print == 1} <div style="display:none"> {/if}
	  <table cellspacing="0" cellpadding="0" width="100%">
		<tr class="ac_table_header_options">
		  <td align="right">
			<div>
			  <input type="text" name="qsearch" id="unsub_search" />
			  <input type="button" value='{"Search"|alang}' onclick="unsub_list_search()" />
			  <input type="button" value='{"Clear"|alang}' id="unsub_clear" style="display:none" onclick="unsub_list_clear()" />
			</div>
		  </td>
		</tr>
	  </table>
	  {if isset($smarty.get.print) and $smarty.get.print == 1} </div> {/if}
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="unsub_head">
		<tr class="ac_table_header">
		  <td>{ac_headercol action="unsub" idprefix="unsub_list_sorter" id="01" label="Email"|alang}</td>
		  <td>{ac_headercol action="unsub" idprefix="unsub_list_sorter" id="99" label="Date"|alang}</td>
		  <td>{"Reason"|alang}</td>
		</tr>
	  </thead>
	  <tbody id="unsub_table">
	  </tbody>
	</table>
	<div id="unsub_noresults" class="ac_hidden">
	  <div align="center">{"Nothing found."|alang}</div>
	</div>
	<div style="float:right">
	  {include file="pagination.js.tpl.htm" paginator=$paginator_unsub tabelize="unsub_tabelize" paginate="unsub_paginate"}
	</div>
	<div id="unsub_loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
	  {"Loading. Please wait..."|alang}
	</div>
  </form>
</div>
