<div id="message" class="ac_hidden">

{foreach from=$messages item=m name=msgloop}

  <div>

  {* if !$smarty.foreach.msgloop.first}
    <hr />
  {/if *}

  {if count($messages) > 1}
    <h3>Message #{$smarty.foreach.msgloop.iteration}</h3>
  {/if}

	{if $m.a_hashtml}
	<div class="startup_box_container">
	  <div class="startup_box_title">
		<span class="startup_selected">
			<span style="float: right;">
			  <a href="#" style="background:none; margin:0px; padding:0px; text-decoration:underline;" id="message_showoverlay_{$m.messageid}" onclick="report_campaign_message_overlay({$m.messageid}); return false">{"Show Overlay"|alang}</a>
			  &middot;
			  <a href="#" style="background:none; margin:0px; margin-left:4px; padding:0px; text-decoration:underline;" id="message_showsource_{$m.messageid}" onclick="report_campaign_message_source({$m.messageid}); return false">{"Show Source"|alang}</a>
{if $m.spamcheck_score > -1}
			  &middot;
			  {"Spam Score:"|alang}
			  <a href="#" style="background:none; margin:0px; padding:0px; text-decoration:{if $m.spamcheck_score > 0}underline{else}none{/if};" id="message_showspamcheck_{$m.messageid}" onclick="{if $m.spamcheck_score > 0}report_campaign_message_spamcheck({$m.messageid});{/if} return false">{$m.spamcheck_score} / {$m.spamcheck_max}</a>
{/if}
			</span>

		  {"HTML Version"|alang}
		</span>
		{if $m.messageid == $campaign.split_winner_messageid}{"(WINNER)"|alang}{/if}
	  </div>
	  <div class="startup_box_container_inner">
		<iframe id="message_htmliframe_{$m.messageid}" width="99%" height="400" border="0" style="border:0px;" src="{$site.p_link}/preview.php?c={$campaign.id}&m={$m.messageid}&previewtype=html{if $subscriberhash}&s={$subscriberhash}{/if}&useauth"></iframe>
	  </div>
	</div>
	{/if}

	<br />

	{if $m.a_hastext}
	<div class="startup_box_container">
	  <div class="startup_box_title">
		<span class="startup_selected">
{if !$m.a_hashtml}
			<span style="float: right;">
			  <a href="#" style="background:none; margin:0px; padding:0px; text-decoration:underline;" id="message_showoverlay_{$m.messageid}" onclick="report_campaign_message_overlay({$m.messageid}); return false">{"Show Overlay"|alang}</a>
			  &middot;
			  <a href="#" style="background:none; margin:0px; margin-left:4px; padding:0px; text-decoration:underline;" id="message_showsource_{$m.messageid}" onclick="report_campaign_message_source({$m.messageid}); return false">{"Show Source"|alang}</a>
	{if $m.spamcheck_score > -1}
			  &middot;
			  {"Spam Score:"|alang}
			  <a href="#" style="background:none; margin:0px; padding:0px; text-decoration:{if $m.spamcheck_score > 0}underline{else}none{/if};" id="message_showspamcheck_{$m.messageid}" onclick="{if $m.spamcheck_score > 0}report_campaign_message_spamcheck({$m.messageid});{/if} return false">{$m.spamcheck_score} / {$m.spamcheck_max}</a>
	{/if}
			</span>
{/if}

		  {"Text Version"|alang}
		</span>
		{if $m.messageid == $campaign.split_winner_messageid}{"(WINNER)"|alang}{/if}
	  </div>
	  <div class="startup_box_container_inner">
		<iframe id="message_textiframe_{$m.messageid}" width="99%" height="400" border="0" style="border:0px;" src="{$site.p_link}/preview.php?c={$campaign.id}&m={$m.messageid}&previewtype=text{if $subscriberhash}&s={$subscriberhash}{/if}&useauth"></iframe>
	  </div>
	</div>
	{/if}

  </div>

{/foreach}

</div>
