<div id="service_surveymonkey">
	<div id="service_surveymonkey_oauth_confirmed">
		<div id="service_surveymonkey_surveys">
			<h2 style="margin-top: 20px;">{"Your surveys"|alang}</h2>
			<div class="campaign_help">
				{"Visit the campaign section and insert a survey personalization tag to send a survey link to your subscribers."|alang}
			</div>
			<div class="campaign_input">
				<ul></ul>
			</div>
			<br />
			<br />
		</div>
		<div id="service_surveymonkey_surveys0">
			{"There are no surveys available from your account."|alang}
		</div>
		<div id="service_surveymonkey_refresh">
			<p>
				<input type="button" value="{"Refresh"|alang}" onclick="service_form_surveymonkey_get_surveys();" />
				<input type="button" value="{"Disconnect"|alang}" onclick="service_form_surveymonkey_logout();" />
			</p>
		</div>
	</div>

	<div id="service_surveymonkey_oauth_unconfirmed">
		<h2>{"Login to SurveyMonkey"|alang}</h2>
		<div class="campaign_help">
			{"Clicking the button below will open a pop-up window to SurveyMonkey where you will authorize access to your SurveyMonkey account."|alang}
		</div>
		<div class="campaign_input">
			<input type="button" id="surveymonkey_oauth_register_url" value="{"Login to SurveyMonkey"}" onclick="window.open('https://surveymonkey.ac-app.com/index.php?p_link=' + encodeURIComponent(ac_js_site.p_link) + '&ac_serial=' + serial_hash + '&context=service)', '_blank', 'height=560,location=no,menubar=no,status=no,toolbar=no,width=700');" />
		</div>
	</div>

	<h1 style="margin-top:30px; padding-top:30px; border-top:3px solid #ccc; text-align:center;">{"SurveyMonkey Setup Instructions"|alang}:</h1>

	<div class="howto" style="margin-top:20px;">
	
		<div class="steps">
			<div class="number">1</div>
			<div class="details">
				<p>{"After clicking Login to SurveyMonkey, you will be prompted to log-in to SurveyMonkey, if you are not already"|alang}:</p>
				<p><img src="images/surveymonkey1.jpg" /></p>
			</div>
		</div>
	
		<div class="steps">
			<div class="number">2</div>
			<div class="details">
				<p>{"You will then see a list of your surveys"|alang}:</p>
				<p><img src="images/surveymonkey2.jpg" /></p>
			</div>
		</div>
		
		<div class="steps">
			<div class="number">3</div>
			<div class="details">
				<p>{"When creating a campaign, choose Personalize Message, and select the survey you want to include in your message"|alang}:</p>
				<p><img src="images/surveymonkey3.jpg" /></p>
			</div>
		</div>
		
		<div class="steps">
			<div class="number">4</div>
			<div class="details">
				<p>{"This will place a link in your message which you can customize"|alang}:</p>
				<p><img src="images/surveymonkey4.jpg" /></p>
				<p><img src="images/surveymonkey5.jpg" /></p>
			</div>
		</div>
		
		<div class="steps">
			<div class="number">5</div>
			<div class="details">
				<p>{"The Campaign Reports page will also show a link to view survey results"|alang}:</p>
				<p><img src="images/surveymonkey6.jpg" /></p>
			</div>
		</div>
	
	</div>
	
</div>