<div id="settings_admin">
<div class="ac_blockquote">

{include file="settings.delivery.abuse.htm"}

</div>
</div>


<div id="settings_delivery_viewabuse" class="ac_modal" style="display:none">
  <div class="ac_modal_inner">
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="viewlist_head">
		<tr class="ac_table_header">
		  <td width="150">{"Date"|alang}</td>
		  <td>{"Campaign"|alang}</td>
		</tr>
	  </thead>
	  <tbody id="viewlist_table">
	  </tbody>
	  <tbody id="viewlist_noresults" style="display:none">
		<tr>
		  <td colspan="2" align="center">
			<div>{"Nothing found."|alang}</div>
		  </td>
		</tr>
	  </tbody>
	  <tfoot>
		<td colspan="2" align="left">
		  <div id="viewloadingBar" style="display:none" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
			{"Loading. Please wait..."|alang}
		  </div>
		</td>
	  </tfoot>
	</table>
	<br />
	<input type="button" value='{"Close"|alang}' onclick="$('settings_delivery_viewabuse').hide()">
  </div>
</div>

<div id="settings_delivery_viewfbl" class="ac_modal" style="display:none">
  <div class="ac_modal_inner">
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="fbllist_head">
	    <tr class="ac_table_header">
		  <td>{"Date"|alang}</td>
		  <td>{"Campaign"|alang}</td>
		  <td>{"Subscriber"|alang}</td>
	    </tr>
	  </thead>
	  <tbody id="fbllist_table">
{foreach from=$feedbackloops item=fbl}
	    <tr>
	      <td>{$fbl.tstamp|acpdate:$site.datetimeformat}</td>
	      <td><a href="main.php?action=report_campaign&id={$fbl.campaignid}">{$fbl.name}</a></td>
	      <td><a href="main.php?action=subscriber_view&id={$fbl.subscriberid}">{$fbl.email}</a></td>
	    </tr>
{/foreach}
	  </tbody>
    </table>
	<br />
	<input type="button" value='{"Close"|alang}' onclick="$('settings_delivery_viewfbl').hide()">
  </div>
</div>

<script type="text/javascript">
  paginators[1].paginate(0);
</script>