<div id="settings_mailsending" style="{if $__ishosted}display:none{/if}">
  <div  class="ac_blockquote">
 
	  <table border="0" cellpadding="5" cellspacing="0" width="100%">

		    <tr>
		      <td>
					  <div class="ac_help_inline">{"Here you can setup multiple sending methods, setup rotating options, set maximum emails to send in a specific time period per sending method, and throttle your email sending per sending method."|alang}</div>
					  <table width="100%" border="0" cellspacing="0" cellpadding="1">
							<thead id="mailer_list_head">
							  <tr class="ac_table_header">
								<td width="80">{"Options"|alang}</td>
								<td>{"Mailer"|alang}</td>
								<td>{"Type"|alang}</td>
								<td>{"Info"|alang}</td>
								<td id="mailer_header_emailspercycle"{if $mailconnectionscnt == 1} style="display: none;"{/if}>{"Emails per Cycle"|alang}</td>
								<td id="mailer_header_sorter" align="center"{if $mailconnectionscnt == 1} style="display: none;"{/if}>{"Sort Order"|alang}</td>
							  </tr>
							</thead>
			        <tbody id="mailer_list_table">
	              {foreach from=$mailconnections item=mc name=mcloop}
								  <tr class="ac_table_row">
								    <td>
								      <div class="ac_table_row_options">
								        <a href="#" onclick="mailer_edit({$mc.id});return false;">{"Edit"|alang}</a>
												{if $mc.id > 1}
											    <a href="#" onclick="mailer_delete({$mc.id});return false;">{"Delete"|alang}</a>
												{/if}
								        <a href="#" onclick="mailer_test({$mc.id});return false;">{"Test"|alang}</a>
								      </div>
								    </td>
								    <td>
								      {if isset($mc.name)}{$mc.name}{else}<i>{"N/A"|alang}</i>{/if}
								    </td>
		                <td>
											{if $mc.type == 0}
												      {"Mail()"|alang}
											{else}
												      {"SMTP"|alang}
											{/if}
		                </td>
		                <td>
											{if $mc.type == 0}
												      <i>{"N/A"|alang}</i>
											{else}
												      {$mc.user}@{$mc.host}{if $mc.port != 25}:{$mc.port}{/if}
											{/if}
	                  </td>
								    <td id="mailer_row_emailspercycle"{if $mailconnectionscnt == 1} style="display: none;"{/if}>
								      {$mc.threshold}
								    </td>
								    <td id="mailer_row_sorter" align="center"{if $mailconnectionscnt == 1} style="display: none;"{/if}>
								      <a href="#" onclick="mailer_sort_row({$mc.id}, 'mailer.mailer_sorter', 'down');"><img src="images/desc.gif" border="0" /></a>
								      <a href="#" onclick="mailer_sort_row({$mc.id}, 'mailer.mailer_sorter', 'up');"><img src="images/asc.gif" border="0" /></a>
								    </td>
		              </tr>
	              {/foreach}
		          </tbody>
	          </table>
	
	          <br />
	
	          <input type="button" value="{'Add New Mail Sending Connection'|alang}" onclick="mailer_add();" />
		        
	        </td>
	      </tr>

	  </table>
 
  </div>
</div>
