<div id="settings_general" style="margin-bottom:40px;">
<table border="0" cellpadding="0" cellspacing="0" class="ac_blockquote usersettings">
	<tr style="display:none;">
		<td >{"Software URL"|alang}</td>
		<td>
			<input type="text" name="p_link" id="p_link" value="{if $__ishosted and isset($site.p_link_precname)}{$site.p_link_precname|escape}{else}{$site.p_link|escape}{/if}" style="background-color:#eee;" readonly="readonly" />
{if !$__ishosted}
			{"The location of this software on the web. To change this, run Updater from a new location."|help}
{/if}
		</td>
	</tr>
	{if !$__ishosted and $rwCheck.apache}
		  <tr>
				<td width="120">{"SEO&ndash;friendly URLs"|alang}</td>
				<td>
				  <input type="checkbox" name="public_url_rewrite" value="1" onclick="public_rewrite_check(this.checked)" {$site.general_url_rewrite|ac_ischecked} />
				  {"This feature will use Apache's mod_rewrite plugin to reformat its public URLs to appear more descriptive, mentioning for example the title of a list or form in the URL."|help}
				</td>
		  </tr>
		<tbody id="public_rewrite_tbody" {if $site.general_url_rewrite == 1}class="ac_table_rowgroup"{else}class="ac_hidden"{/if}>
		  <tr valign="top">
				<td>&nbsp;</td>
				<td>
				  <a href="#public" onclick="public_rewrite_htaccess();">{"View .htaccess Content"|alang}</a>
				  {"Upon saving, the system will try to add this content to your .htaccess file if it doesn't have it already. If the file cannot be written to, you will have to put this into file %s"|help:$htaccess}
				</td>
		  </tr>
		</tbody>
		<tr>
		  <td>{"Max upload size"|alang}</td>
		  <td>
			<input type="text" name="maxuploadfilesize" value="{$site.maxuploadfilesize}" style="width:30px;" /> (MB's)
			{"Your server imposes the following limits: maximum file upload size is %s and maximum post size is %s."|help:$uploadLimit:$postLimit}
		  </td>
		</tr>
	{/if}
</table>
</div>


<div id="htaccess" class="ac_modal" align="center" style="display: none;">
<div class="ac_modal_inner" style="width: 500px; text-align: center;">
 <div>
   {"Upon saving, the system will try to add this content to your .htaccess file if it doesn't have it already."|alang}<br />
   {"If the file cannot be written to, you will have to put this into file:"|alang}<br />
   {$htaccess}
 </div>
 <textarea cols="50" rows="10" readonly onclick="ac_form_highlight(this);">
# {"URL Rewrite Support"|alang}

Options All -Indexes

ErrorDocument 404 {$URI}/index.php


&lt;IfModule mod_rewrite.c&gt;
RewriteEngine On
RewriteBase {$URI}/
{literal}
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|css|js)$
{/literal}
RewriteRule . {$URI}/index.php [L]
&lt;/IfModule&gt;
</textarea>
{if $rwCheck.iis}
<div class="warning">{"You will need to have ISAPI_Rewrite filter turned on in your IIS server."|alang}</div>
{/if}
<div align="center"><input type="button" value="{'Close'|alang}" onclick="$('htaccess').style.display = 'none';" /></div>
</div>
</div>
