        <div style="background:#F3F3F0; padding:5px; padding-left:10px;">{"SPF Records"|alang}</div>




        <div id="mail_fbl_help" style="padding:10px; border: 1px solid #E0DFDC; margin-bottom:10px;">

		<div class="ac_help_inline">{"SPF records need to be setup on a server level, and not within this application. The administrator of your DNS server needs to make adjustments to your DNS zone."|alang}</div>
{if $site.brand_links}
          <p>
            {"To setup SPF Records, please consult the instructions located at"|alang}
            <a href="http://www.activecampaign.com/spf/">http://www.activecampaign.com/spf/</a>
          </p>
{/if}
          </p>
            {"The DNS syntax for an SPF record may look like this:"|alang}
          </p>

          <blockquote>
            </p>
              <strong>YOURMAILSERVER.COM. IN TXT "v=spf1 a mx –all"</strong>
            </p>
          </blockquote>

          <p>
            {"Some set up wizards for setting up valid SPF DNS entries can be found here:"|alang}
          </p>

          <ul>
            <li><a href="http://www.microsoft.com/mscorp/safety/content/technologies/senderid/wizard/" target="_blank">{"Sender ID Framework SPF Record Wizard"|alang}</a></li>
          </ul>


            {"We strongly suggest to use the above wizards and follow their instructions for completing your SPF setup."|alang}
        </div>

