{if $admin.pg_list_add}
{if $action == 'list'}
<a class="btn" href="#" onclick="list_form_open(0);return false;" id="add_new_list_button"><span class="create">{"Add New List"|alang}</span></a>
{else}
<a class="btn" href="main.php?action=list&new" id="add_new_list_button"><span class="create">{"Add New List"|alang}</span></a>
{/if}
{/if}


<div class="menu_section">
        <h5 class="headtitle">{"List Settings"|alang}</h5>
		<ul>
			{if $admin.pg_list_add || $admin.pg_list_edit || $admin.pg_list_delete}<li><a href="main.php?action=list#list-01-0-0">{"Manage Lists"|alang}</a></li>{/if}
            {if $admin.pg_subscriber_fields}<li><a href="main.php?action=field">{"Subscriber Fields"|alang}</a></li>{/if}
            {if $admin.pg_subscriber_filters}<li><a href="main.php?action=filter#list-01-0-0">{"List Segments"|alang}</a></li>{/if}
            {if $admin.pg_subscriber_actions}<li><a href="main.php?action=subscriber_action#list-01-0-0">{"Subscriber Actions"|alang}</a></li>{/if}
            {if $admin.pg_list_emailaccount}
            {if !$__ishosted or ac_admin_ismaingroup()}<li><a href="main.php?action=emailaccount#list-02-0-0">{"Subscriptions by Email"|alang}</a></li>{/if}
            {/if}
            {if $admin.pg_list_headers}<li><a href="main.php?action=header#list-01-0-0">{"Custom Email Headers"|alang}</a></li>{/if}
            {if $admin.pg_list_bounce and !$__ishosted}<li><a href="main.php?action=bounce_management#list-01-0-0">{"Bounce Settings"|alang}</a></li>{/if}

		</ul>
</div>

