<div id="send_test_spam" class="ac_modal" align="center" style="display:none;">
  <div class="ac_modal_inner" align="left">
	<h1>{"Check against spam filters"|alang}</h1>

    <div id="spamloader" class="ac_hidden" align="center" style="margin:10px;">
		<img src="images/loader3.gif" />
		<div style="font-size:10px; color:#999999;">{"Loading"|alang}</div>
		<div align="left" style="margin-top:20px;">
		  <input type="button" value='{"Cancel"|alang}' onclick="ac_ui_api_callback();ac_dom_toggle_display('send_test_spam', 'block');" class="ac_button_ok" />
		</div>
    </div>

    <div id="spamresult" class="ac_hidden">
		<hr />
		<div style="font-size:10px; color:#999999;" align="center">{"Your spam probability is:"|alang}</div>
		<div id="emailcheck_score" style="font-size:38px;" align="center"></div>
		<div id="emailcheck_table" class="ac_hidden">
			<hr />
			{"Things that could cause your message to be flagged as spam:"|alang}<br /><br />
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			  <tbody id="emailcheck_rules"></tbody>
	        </table>
			<hr />
		</div>
		{if !isset($mode) or $mode != 'report'}
		<div align="right"><a href="#" onclick="$('spamresult').className='ac_hidden';$('spamform').className='ac_block';return false;">{"Check another"|alang}</a></div>
		{/if}
		<br />

	    <div>
	      <input type="button" value='{"OK"|alang}' onclick="ac_dom_toggle_display('send_test_spam', 'block');" class="ac_button_ok" />
	    </div>
	</div>

    <div id="spamform" class="ac_block">
      <div class="ac_help_inline">{"Type in a name or email of a subscriber that you wish to check the test email for. Partial search phrases are allowed.  You can also type an email that does not exist in your list.  If the email is found in any list, it will be personalized "|alang}</div>
      <br />
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>{"To email"|alang}</td>
          <td width="15">&nbsp;</td>
          <td id="spamcheckemailtypelabel">{"Format"|alang}</td>
        </tr>
        <tr>
          <td>
		  {include file='autocomplete.inc.htm' fieldPrefix='subscriber' fieldID='subscriberEmailCheckField' fieldName='spamcheckemail' fieldSize='25' fieldValue=$admin.email fieldStyle='width:90%;'}
		  <script>$('subscriberEmailCheckField').onkeypress = ac_ui_stopkey_enter;</script>
          </td>
          <td>&nbsp;</td>
          <td width="100">
            <select name="spamcheckemailtype" id="spamcheckemailtype" size="1">
              <option value="mime">{"HTML and TEXT"|alang}</option>
              <option value="html">{"HTML"|alang}</option>
              <option value="text">{"Text"|alang}</option>
            </select>
          </td>
        </tr>
        <tbody id="spamcheckemailsplitbox" class="ac_hidden">
          <tr>
            <td colspan="3">
              {"Select a message you wish to use for this test:"|alang}
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <select name="spamcheckemailsplit" id="spamcheckemailsplit" size="5" style="width:99%" onchange="spamcheck_set(this.value);"></select>
            </td>
          </tr>
        </tbody>
      </table>
	<br />

    <div>
      <input type="button" value='{"Check"|alang}' onclick="spamcheck_emailcheck();" class="ac_button_ok" />
      <input type="button" value='{"Cancel"|alang}' onclick="ac_dom_toggle_display('send_test_spam', 'block');" class="ac_button_cancel" />
    </div>
    </div>

  </div>
</div>
