<div id="export" class="ac_modal_delete" align="center" style="display: none">
  <div class="ac_modal_inner">
    <h1>{"Export Template"|alang}</h1>
    <span id="export_message"></span>
    <p>{"Please choose the file type for your export. Choose XML for easy importing into any install, or HTML for the actual template markup only."|alang}</p>
    <div style="float: right;">
    	<input type="button" value="{"Cancel"|alang}" onclick="ac_dom_toggle_display('export', 'block');" />
    </div>
    <div>
      <input type="button" value="{"XML"|alang}" onclick="template_export(template_export_id, 'xml')" />
      <input type="button" value="{"HTML"|alang}" onclick="template_export(template_export_id, 'html')" />
    </div>
  </div>
</div>