<p>
	{"Campaign Name:"|plang}<br />
	<strong>{$campaign.name}</strong>
</p>

<p>
	{"User:"|plang}<br />
	<strong>{$user.username}</strong> - {$user.first_name} {$user.last_name}
</p>

<p>
	<a href="{$viewlink}">{"Click here to manage this user's abuse settings"|plang}</a>
</p>
