<script type="text/javascript" src="{$_}/admin/js/ac.js"></script>
<script type="text/javascript">
	{include file="form.js"}
</script>

{if $form.incga}
<script type="text/javascript" src="{$_}/js/ga.utm.js"></script>
{/if}

<script type="text/javascript">
	{literal}
	function form_add_recipient() {
		// No more!
		if ($J("#_forward_rcpt > tr").length > 9)
			return;

		$J(".image_addrcpt").hide();
		$J("#_forward_rcpt").append("<tr><td><input type='text' name='rcpt_email[]'></td><td><input type='text' name='rcpt_name[]'></td><td><div onclick='form_add_recipient()'><img class='image_addrcpt' src='admin/images/user_add-32.png' border='0'></div></td></tr>");

		if ($J("#_forward_rcpt > tr").length > 9)
			$J(".image_addrcpt").hide();
	}
{/literal}
</script>

{if isset($errors)}
<div class="form_errors">
	{$errors}
</div>
{/if}

<div align="center">
	{* form *}
	{$html}
</div>

{* if $site.brand_links}
<div style="color:#999999; margin-top:20px; border-top:1px solid #F1ECE2; padding-top:5px;text-align:left;">
	<a href="http://www.activecampaign.com/email-marketing/" style="text-decoration:none; color:#999999;" title="email marketing">{$site.acpow|b64d}</a> {"by ActiveCampaign"|i18n}
</div>
{/if *}

{if isset($jsalert) and $jsalert != ""}
<script type="text/javascript">
	var thetext = '{$jsalert|js}';
	{literal}
	$J(document).ready(function() {
		alert(thetext);
	});
	{/literal}
</script>
{/if}
