<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{if $ieCompatFix}
<meta http-equiv="X-UA-Compatible" content="IE=8" />
{/if}
<meta http-equiv="Content-Type" content="text/html; charset={'utf-8'|i18n}" />
<meta http-equiv="Content-Language" content="{"en-us"|i18n}" />

<title>{if isset($message) and isset($message.subject)}{$message.subject}{else}{$site.site_name} - {$pageTitle}{/if}</title>
{ac_js base=$_ lib="scriptaculous/prototype.js"}
{ac_js base=$_ lib="scriptaculous/scriptaculous.js"}
{ac_js base=$_ acglobal="ajax,dom,b64,str,array,liveedit,utf,ui,paginator,star,loader,tooltip,date,cfield,editor,form,class.Table,ihook"}
<script language="JavaScript" type="text/javascript" src="{$_}/admin/js/functions.js"></script>

{ac_js base=$_ src="mainjs.php"}

<link href="{$_}/ac_global/css/default.css?v={$version}{$build}" rel="stylesheet" type="text/css" />
<link href="{$_}/css/default.css?v={$version}{$build}" rel="stylesheet" type="text/css" />

{if $site.template_css}
<style>
{$site.template_css}
</style>
{/if}

</head>

<body>

  {if $action == "social"}
  <div id="fb-root"></div>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
	FB.init({literal}{{/literal}
	  appId: '{$site.facebook_app_id}',
	  status: true,
	  cookie: true,
	  xfbml: true
	{literal}}{/literal});
  </script>
  {/if}

			<div id="ac_loading_bar" class="ac_hidden"><span id="ac_loading_text">{"Loading..."|plang}</span></div>
			<div id="ac_result_bar" class="ac_hidden"><span id="ac_result_text">{"Changes Saved."|plang}</span></div>
			<div id="ac_error_bar" class="ac_hidden"><span id="ac_error_text">{"Error Occurred!"|plang}</span></div>

			<div id="container">

				{$site.templates.precontent}

				{include file=$content_template}

				{$site.templates.postcontent}

			</div>

			</div>

</body>
</html>
