<script type="text/javascript">
<!--
{include file="unsubscribe.js"}
-->
</script>
{* load javascript calendar *}
{ac_calendar base=""}


{if $unsubscription_message}
	<div align="center">
	<div class="confirmation_box">
	{$unsubscription_message}
	</div>
	</div>

{else}
<h1>{"Unsubscribe"|plang}</h1>
	{*if $site.general_public*}

		<div id="form">

			<form method="post" action="{$_}/box.php" id="unsubscribe_form" onsubmit="return unsubscribe_validate();">

				<input type="hidden" name="funcml" value="unsubscribe" />

				<table width="100%">
					<tr>
						<td width="400" valign="top">
							<p>
								<label for="email">{"Your e-mail address (Required)"|plang}</label>
								<input type="input" name="email" id="email" size="50" />
							</p>

						  <div id="unsubscribe_use_captcha" class="{if $show_captcha}ac_block{else}ac_hidden{/if}">
								<p>{"Please also verify yourself by typing the text in the following image into the box below it."|plang}</p>
								<br/>
								{if $site.gd}
								<img src="{$_}/ac_global/scripts/randomimage.php?rand={$rand}" /><br/>
								{/if}
								<input type="text" name="imgverify" />
							</div>

				<div>
					<p><input type="submit" value="{'Unsubscribe'|plang}" /></p>
				</div>


						</td>

						<td>
{if !$listfilter}
							<h2>{"Select Lists To Unsubscribe From"|plang}</h2>
							<div id="parentsListBox">
	{foreach from=$listsList item=l}
		{if (!$l.private)}
										<p>
											<label>
												<input type="checkbox" name="nlbox[]" id="unsubscribe_list_{$l.id}" value="{$l.id}" onclick="unsubscribe_list_loadfields()" />
												{$l.name}
											</label>
										</p>
		{/if}
	{/foreach}
							</div>
{else}
	{if is_array($listfilter)}
		{foreach from=$listfilter item=l}
							<input type="hidden" name="nlbox[]" value="{$l}" />
		{/foreach}
	{else}
							<input type="hidden" name="nlbox[]" value="{$listfilter}" />
	{/if}
{/if}
						</td>
					</tr>

			      <tbody id="custom_fields_table" class="ac_hidden">

							{foreach from=$custom_fields item=field}

								{if $field.visible}
								{if $field.type == 'hidden'}
									{ac_cfield field=$field}
								{else}
						      <tr>
						        <td width="75">{$field.title}</td>
						        <td>{ac_cfield field=$field}</td>
						      </tr>
								{/if}
								{/if}

							{/foreach}

			      </tbody>

				</table>


			</form>

		</div>

	{*/if*}

{/if}

{* prompt for a unsubscribe reason *}
{if $ask4reason}

	<hr size="1" width="100%" noshade />

	<form action="{$_}/box.php" method="post">
		{"(Optional) Why did you decide to unsubscribe?"|plang}
		<br />
		<input type="hidden" name="funcml" value="unsubreason" />
		{*
		<input type="hidden" name="action" value="unsubscribe" />
		<input type="hidden" name="mode" value="{$mode}" />
		*}
		<input type="hidden" name="nl" value="{$lists}" />
		<input type="hidden" name="codes" value="{$codes}" />
		<input type="hidden" name="p" value="{$p}" />
		{if isset($smarty.get.c)}
		<input type="hidden" name="c" value="{$smarty.get.c}"/>
		{/if}
		{if isset($smarty.get.m)}
		<input type="hidden" name="m" value="{$smarty.get.m}"/>
		{/if}
		<input type="hidden" name="s" value="{$hash}" />
		<textarea name="reason"></textarea>
		<br />
		<input type="submit" value="{'Send'|plang}" />
	</form>

{/if}
