._form {
	width:265px;/*F*/
	background:#fff;
	color:#2c2c2c;
	font-weight:normal;
}
._form #notice {
	margin:10px 0 0 -3px!important;
	padding:0;
	color:#acacac;
	font-size:11px;
	font-family:helvetica,arial,sans-serif;
}
._form #notice a:link, ._form #notice a:visited {
	color:#acacac;
	text-decoration:underline;
}
._form ._field  {
	position:relative;
	width:100%;
	cursor:default;
	font-style:normal;
	margin:0 0 16px;
	padding:0;
	overflow:hidden;
}
._form ._field input[type="text"],
._form ._field input[type="email"] {
	width:96%;
	padding:4px;
	font-size:14px;
	background:#fafafa;
	border:1px solid #c7c7c7;
	border-top:1px solid #b6b6b6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
._form ._field ._label {
	margin:0 0 4px;
	color:#2c2c2c;
	font-size:13px;
	font-family:helvetica,arial,sans-serif;
	font-weight:700;
}
._form ._field ._option {
	margin:0;
	padding:0;
	color:#2c2c2c;
	font-size:13px;
	font-family:helvetica,arial,sans-serif;
	font-weight:normal;
	line-height:20px;
}
._form ._type_header ._label {
	width:100%;
	font-style:normal;
	font-size:16px!important;
	line-height:20px;
	color:#005698;
	margin:0 0 5px!important;
	padding:0 0 10px!important;
	overflow:hidden;
	border-bottom:1px solid #e0e0e0;
}
._form ._type_input ._option  textarea{
	width:97%!important;
	background:#fafafa;
	border:1px solid #c7c7c7;
	border-top:1px solid #b6b6b6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
._form ._type_input ._option input[type="submit"],
._form ._type_input ._option input[type="button"] {
	width:auto;
	margin:10px 0 0!important;
	padding:2px 15px!important;
	cursor:pointer;
	font-family:verdana,arial,sans-serif;
	font-weight:700;
	font-size:12px;
	color:#3f3f3f;
	background:#f7f7f7 url(images/btn_bg.gif) repeat-x 0 0;
	border:1px solid #999999;
	border-bottom:1px solid #888888;
	text-align:center;
}
._form ._type_input ._option input[type="submit"]:hover,
._form ._type_input ._option input[type="button"]:hover {
	border:1px solid #afafaf;
	border-bottom:1px solid #a5a5a5;
	background:#f7f7f7;
	color:#525252;
}
._form ._type_date ._option input[type="text"] {
	float:left;
	width:100px;
}
._form ._type_radio ._option label {
	display:inline;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
}
._form ._type_radio ._option label input[type="radio"] {
	position:relative;
	width:13px;
	height:13px;
	margin:-4px 0 0;
	cursor:pointer;
	vertical-align:middle;
	background:#fff;
	line-height:20px;
}
._form ._type_date ._option input[type="button"] {
	width:24px;
	height:24px;
	margin:2px 0 0 5px;
	padding:0;
	background:url(images/icon_calendar.gif) no-repeat 0 0;
	border:none;
	outline:none;
	text-indent:-9999px;
}
._form ._field ._option select {
	display:block;
	margin:0;
	padding:0;
	width:auto;
	font-size:14px;
	border:1px solid #b6b6b6;
}
._form ._type_captcha img {
	float:left;
	width:42px;
	height:24px;
	margin:0 6px 0 0;
	border:1px solid #b6b6b6;
}
._form ._type_captcha input[type="text"] {
	float:left;
	margin:0!important;
	width:40%;
	font-size:14px;
}
._form ._field table {
	margin:0;
	padding:0;
	border-collapse:collapse;
	width:100%!important;
	table-layout:fixed;
	margin-bottom:18px;
	font-size:13px!important;
	border-collapse:collapse;
	border-spacing:0;
}
._form ._field table td {
	padding:0 10px 0 0!important;
	line-height:18px;
	text-align:left;
	font-size:13px!important;
	color:#606060;
}
._form ._type_input ._option  table tbody#_forward_rcpt input {margin:0 0 4px 0; width:96%!important;}
._form ._type_input ._option  table tbody#_forward_rcpt img.image_addrcpt {cursor:pointer;}

.form_errors{
	text-align:center;
	font-size:15px;
	margin:10px;
	color:#900;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-bottom:20px;
}
