@import url(http://fonts.googleapis.com/css?family=PT+Sans);

._form {
	margin:0;
	padding:0px!important;
	background:#f0f0f0;
	color:#2c2c2c;
	font-weight:normal;
	text-shadow:1px 1px 1px #fff;
}
._form #notice {
	margin:!important;
	padding:0 0 3px!important;
	color:#acacac;
	font-size:11px;
	font-family:helvetica,arial,sans-serif;
}
._form #notice a:link, ._form #notice a:visited {
	color:#acacac;
	text-decoration:underline;
}
/* ========================= start header/footer*/
.formwrapper {
	width:auto;
	margin:0px!important;
	padding:10px 20px 3px!important;
	background:#f0f0f0;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
}
.formwraptop {
	margin:0px!important;
	padding:0px!important;
	height:5px;
}
.formwraptop .topleft {
	float:left;
	height:5px;
	width:20px;
	background:transparent url(images/bg_form_top_left.png) no-repeat top left;
}
.formwraptop .topbg {
	height:5px;
	background:transparent url(images/bg_form_top_bg.png) no-repeat top right;
}
.formwrapbottom {
	margin:0px!important;
	padding:0px!important;
	height:5px;
}
.formwrapbottom .bottomleft {
	float:left;
	height:5px;
	width:20px;
	background:transparent url(images/bg_form_bottom_left.png) no-repeat bottom left;
}
.formwrapbottom .bottombg {
	height:5px;
	background:transparent url(images/bg_form_bottom_bg.png) no-repeat bottom right;
}
/* ========================= end header/footer*/
._form ._field,
._form ._field ._label,
._form ._type_radio,
._form ._type_checkbox,
._form ._type_captcha,
._form ._field table {
	background:none;
}
._form ._field  {
	position:relative;
	width:100%;
	cursor:default;
	font-style:normal;
	margin:0 0 16px!important;
	padding:0!important;
	overflow:hidden;
}
._form ._field input[type="text"],
._form ._field input[type="email"] {
	width:97%;
	margin:0!important;
	padding:4px!important;
	font-size:18px;
	border:1px solid #d7d7d7;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:transparent url(images/bg_input.gif) repeat-x top left;
}
._form ._field ._label {
	margin:0 0 0.3em!important;
	color:#202020;
	font-size:14px;
	font-family:helvetica,arial,sans-serif;
	font-weight:400;
}
._form ._field ._option {
	margin:0;
	padding:0;
	color:#202020;
	font-size:13px;
	font-family:helvetica,arial,sans-serif;
	font-weight:normal;
	line-height:20px;
}
._form ._type_header ._label {
	width:100%;
	font-style:normal;
	font-size:26px!important;
	line-height:34px;
	font-family:'PT Sans',arial,serif;
	font-weight:700;
	color:#202020;
	margin:0 0 10px!important;
	padding:0 0 10px!important;
	overflow:hidden;
	background:transparent url(images/bg_hdr_line.gif) repeat-x bottom left;
}
._form ._type_input ._option textarea{
	padding:2px!important;
	width:97%!important;
	background:#fff url(images/bg_input.gif) repeat-x top left;
	border:1px solid #d7d7d7;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
._form ._field ._option input[type="submit"],
._form ._field ._option input[type="button"] {
	width:auto;
	height:48px;
	margin:10px 0 0!important;
	padding:8px 32px 8px 15px!important;
	cursor:pointer;
	font-family:helvetica,arial,sans-serif;
	font-weight:700;
	font-size:14px;
	color:#fff;
	background:#f2b103 url(images/bg_submit_btn.gif) repeat-x top right;
	border:1px solid #b97e00;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-shadow:1px 1px 1px #ca9300;
}
._form ._type_radio ._option label {
	display:inline;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
}
._form ._type_radio ._option label input[type="radio"] {
	position:relative;
	width:13px;
	height:13px;
	margin:-4px 0 0!important;
	cursor:pointer;
	vertical-align:middle;
	background:#fff;
	border:none;
	line-height:18px;
}
._form ._type_date ._option input[type="text"] {
	float:left;
	width:100px;
	font-size:18px;
}
._form ._type_date ._option input[type="button"] {
	float:left;
	width:27px;
	height:27px;
	margin:0 0 0 5px!important;
	padding:0;
	background:url(images/icon_calendar.gif) no-repeat;
	border:none;
	outline:none;
	text-indent:-9999px;
}
._form ._field ._option select {
	display:block;
	margin:0;
	padding:0;
	width:auto;
	font-size:18px;
	border:1px solid #d7d7d7;
}
._form ._type_captcha img {
	float:left;
	width:88px;
	height:44px;
	margin:0 6px 0 0;
	border:1px solid #d7d7d7;
}
._form ._type_captcha input[type="text"] {
	margin:0!important;
	width:40%;
	font-size:18px;
}
._form ._field table {
	margin:0;
	padding:0;
	border-collapse:collapse;
	width:100%!important;
	table-layout:fixed;
	margin-bottom:18px;
	font-size:12px!important;
	border-collapse:collapse;
	border-spacing:0;
}
._form ._field table td {
	padding:0 10px 0 0!important;
	line-height:18px;
	text-align:left;
	font-size:12px!important;
	color:#606060;
}
._form ._type_input ._option  table tbody#_forward_rcpt input {margin:0 0 5px 0!important; width:96%!important;}
._form ._type_input ._option  table tbody#_forward_rcpt img.image_addrcpt {cursor:pointer;}
.form_errors{
	text-align:center;
	font-size:15px;
	margin:10px;
	color:#900;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-bottom:20px;
}